<div #gmap id="mapa"></div>
<div class="personal-content personal-over-unset min-height-full max-height-full col-12 p-0" id="personal-edit-q">
  <div class="personal-content min-height-full max-height-full p-overflow-auto">

    <form [formGroup]="formQuej" class="pb-0 min-height-full card h-100" id="frmQ" (ngSubmit)="publishQueja()">
      <div id="loading-content"></div>

      <div class="card-header d-flex justify-content-between align-items-center">
        Nueva Queja
      </div>
      <div class="card-img-top d-flex flex-wrap justify-content-center align-items-center">
        <img class="mb-1" id="defaultQuejaImg" src="/assets/images/edit-queja/window.jpg" width="100%">

        <a href="#" class="personal-center-btn btn btn-lg btn-outline-info p-0 d-flex justify-content-center align-items-center"
          (click)="newMedia($event)">
          <fa name="camera"></fa>
        </a>
      </div>

      <ul class="list-group list-group-flush pb-0">

        <li class="list-group-item">
          <fa name="calendar" class="mr-1"></fa>
          <small class="ml-1">2018-04-27 16:25</small>
        </li>

        <li class="list-group-item">
          <fa name="map-marker" class="mr-1"></fa>
          <small class="ml-1">{{ _locationCity }}</small>
        </li>

        <li class="list-group-item">
          <fa name="location-arrow" class="mr-1"></fa>
          <small class="ml-1">{{ _locationAdress }}</small>
          <button type="button" id="hidden-btn" style="display:none">
            <fa name="check"></fa>
          </button>
        </li>

        <li class="list-group-item">
          <fa name="bullhorn"></fa>
          <app-select2-bootstrap class="col-11" [fcName]="'quejaType'" [select2Data]="tipoQuejaSelect" (select2Change)="getSelect2Value($event)"></app-select2-bootstrap>
        </li>

        <li class="list-group-item pb-0">
          <div class="form-group row col-12 pb-0">
            <div class="col-10 pb-0">
              <textarea name="detail" formControlName="fcnDetail" class="form-control pb-0" cols="30" rows="5"></textarea>
            </div>
          </div>
        </li>
      </ul>
    </form>

  </div>
</div>

<material-btn-list [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>