<div class="personal-content personal-over-unset">
  <div class="fixed-background"></div>

  <div class="min-height-full max-height-full personal-dyna-cont default-back col-12 p-0" id="personal-edit-q">
    <div class="personal-content min-height-full max-height-full p-overflow-auto">

      <form [formGroup]="formQuej" class="pb-0 min-height-full card h-100" id="frmQ" (ngSubmit)="publishQueja()">
        <div id="loading-content"></div>

        <div class="card-header d-flex justify-content-between align-items-center">
          Nueva Queja
        </div>
        <div class="card-img-top d-flex flex-wrap justify-content-center align-items-center">
          <img class="mb-1" id="defaultQuejaImg" src="/assets/images/edit-queja/window.jpg" width="100%">

          <a href="#" class="personal-center-btn btn btn-lg btn-outline-info p-0 d-flex justify-content-center align-items-center"
            (click)="newMedia($event)">
            <fa name="camera"></fa>
          </a>
        </div>

        <ul class="list-group list-group-flush pb-0">

          <li class="list-group-item row">
            <fa name="bullhorn" class="col-1"></fa>
            <app-select2-bootstrap class="col-11" [fcName]="'quejaType'" [select2Data]="tipoQuejaSelect" (select2Change)="getSelect2Value($event)"></app-select2-bootstrap>
          </li>

          <li class="list-group-item">
            <fa name="calendar"></fa>
            <small>2018-04-27 16:25</small>
          </li>

          <li class="list-group-item">
            <fa name="location-arrow"></fa>
            <small>Av. Antonio José de Sucre y Almagro</small>
          </li>

          <li class="list-group-item pb-0">
            <div class="form-group row col-12 pb-0">
              <div class="col-10 pb-0">
                <textarea name="detail" formControlName="fcnDetail" class="form-control pb-0" cols="30" rows="5"></textarea>
              </div>
            </div>
          </li>
        </ul>

        <div class="personal-material-btn d-flex flex-column justify-content-center align-items-center">
          <button type="submit" class="custom-btn p-0 btn btn-outline-info">
            <fa name="check"></fa>
          </button>
          <a href="#" class="custom-btn p-0 mt-2 btn btn-outline-secondary" (click)="close($event)">
            <fa name="close"></fa>
          </a>
        </div>
      </form>

    </div>
  </div>
</div>