<div class="personal-content" [ngClass]="{
      'min-height-full-modal max-height-full-modal p-overflow-auto': !isChildPub
    }">
  <div class="p-no-border-rad-card card pb-0">

    <div class="card-header d-flex justify-content-between align-items-center">
      Nueva Queja
    </div>
    <div class="relative-background d-flex justify-content-center align-items-center pb-1">
      <div id="carouselExampleControls" class="p-pub-media carousel slide" data-ride="carousel">

        <div class="p-pub-media carousel-inner" role="listbox">
          <a href="#" (click)="animation($event)" class="p-index-2 custom-btn custom-btn-normal p-transparent-btn xs p-float-btn top-left-corner">
            <fa name="chevron-down" class="p-transition {{ rotateClass }}"></fa>
          </a>
          <div class="actions-edit-queja absolute-layer top-left-corner d-flex flex-column justify-content-between align-items-center {{ showClass }}">
            <div>
              <a href="#" class="p-transparent-btn op-media xs" (click)="newMedia($event)">
                <fa name="camera"></fa>
              </a>
              <a href="#" class="p-transparent-btn op-media xs" (click)="newMediaVideo($event)">
                <span class="personal-site-icon">f</span>
              </a>
            </div>
          </div>

          <ng-container *ngFor="let file of filesToUpload; let i = index">
            <div *ngIf="!file.hidden" class="p-pub-media carousel-item p-1" [ngClass]="{ 'active': file.active }">
              <a *ngIf="file.removeable" href="#" class="p-transparent-btn xs p-float-btn top-right-corner" (click)="removeMedia($event, file)">
                <fa name="close"></fa>
              </a>
              <img *ngIf="file.type==media_type.image" [src]="_domSanitizer.bypassSecurityTrustUrl(file.mediaFileUrl)" width="100%"
                class="mb-1">
              <video *ngIf="file.type==media_type.video" width="100%" class="mb-1" poster="{{ saveVideoGif }}"
              controls muted autoplay class="mediaVideo">
                <source [src]="_domSanitizer.bypassSecurityTrustUrl(file.mediaFileUrl)" type='video/mp4' />
              </video>
            </div>
          </ng-container>
        </div>

        <ng-container *ngIf="filesToUpload.length > 2">
          <a class="carousel-control-prev p-carousel-control" href="#carouselExampleControls" (click)="setNewActive($event, false)"
            role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next p-carousel-control" href="#carouselExampleControls" (click)="setNewActive($event, true)"
            role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </ng-container>
      </div>

    </div>

    <div class="card-block p-0">
      <pub-form [mediaFiles]="filesToUpload" [eersaLocClient]="eersaLocClient" [isStreamPub]="isStreamPub" [submit]="submit"
        (afterSubmit)="processAfterSubmit($event)" (validForm)="onValidForm($event)"></pub-form>
    </div>
  </div>

</div>