<div *ngIf="!halfModal" [ngClass]="{ 'personal-content min-height-full-modal max-height-full-modal p-overflow-auto': isModal == true }">
  <div [ngClass]="{ 'col-12 py-1 px-1': isModal == true }">
    <div class="p-no-border-rad-card card" [ngClass]="{
      'p-shadow-card': isModal == true,
      'p-border-none': isModal == false
    }">
      <div class="card-block">
        <write-comment [commentModel]="newComment"></write-comment>
      </div>
      <ul class="list-group list-group-flush pb-0">
        <li *ngFor="let comment of commentList" class="pb-1 list-group-item">
          <comment class="col-12 p-0" [hideBtn]="hideBtn" [focusCommentId]="commentId" [focusReplyId]="replyId"
            [commentModel]="comment" (onCancelComment)="cancelComment($event)"></comment>
        </li>
      </ul>
      <div *ngIf="pagePattern || firstPattern" class="card-footer text-center">
        <a href="#" (click)="askForMore($event)" class="p-dark-text-color">
          <small *ngIf="pagePattern">Ver comentarios anteriores</small>
          <small *ngIf="!pagePattern && firstPattern">Ocultar comentarios anteriores</small>
        </a>
        <div class="bottom-loader {{ activeClass }} col-12 d-flex justify-content-center align-items-center">
          <img src="/assets/images/forms/preloader.gif" width="50px" class="p-owl-img-sm">
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="halfModal" class="p-no-border-rad-card p-transparent-card card">
  <div class="card-block">
    <write-comment [commentModel]="newComment"></write-comment>
  </div>
  <ul class="max-height-fourth p-overflow-auto list-group list-group-flush pb-0" id="comentsBody">
    <li *ngIf="!commentList || commentList.length == 0" class="secondary-color p-border-none list-group-item py-3 px-4">
      No existen comentarios por mostrar.
    </li>
    <ng-container *ngIf="commentList && commentList.length > 0">
      <li *ngFor="let comment of commentList" class="f-child-full-space pb-1 list-group-item">
        <comment class="col-12 p-0" [hideBtn]="hideBtn" [focusCommentId]="commentId" [focusReplyId]="replyId"
          [commentModel]="comment" (onCancelComment)="cancelComment($event)"></comment>
      </li>
    </ng-container>
  </ul>
  <div class="bottom-loader {{ activeClass }} col-12 d-flex justify-content-center align-items-center">
    <img src="/assets/images/forms/preloader.gif" width="50px" class="p-owl-img-sm">
  </div>
</div>

<material-btn-list *ngIf="!halfModal" [showClass]="showClass" [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>