<section class="personal-content min-height-full personal-over-unset personal-fadeout py-0 d-flex flex-column justify-content-start align-items-center"
  id="homeContainer">
  <home-panel class="w-100"></home-panel>

  <div id="carousel-home" class="p-top-margin-home w-100">
    <owl-carousel class="personal-owl-nav owl-carousel" [options]="carouselOptions" [carouselClasses]="['owl-theme']">
      <div class="p-home-full-height">
        <app-quejas-list></app-quejas-list>
      </div>
      <div class="p-home-full-height">
        <app-map-view *ngIf="enableSecondOp"></app-map-view>
        <div *ngIf="!enableSecondOp" class="personal-content min-height-full"></div>
      </div>
    </owl-carousel>
  </div>
</section>