<section class="personal-content min-height-full p-overflow-hidden personal-fadeout py-0 d-flex flex-column justify-content-start align-items-center"
  id="homeContainer">
  <home-panel class="w-100" [checkedInput]="touchDrag" (switchChange)="getSwitchChanges($event)"></home-panel>

  <ng-container *ngIf="webViewPort">

    <div *ngIf="isAdmin != undefined" id="carousel-home" class="p-top-margin-home w-100">
      <owl-carousel #owlElement class="personal-owl-nav owl-carousel" [options]="carouselOptions" [carouselClasses]="['owl-theme']">

        <div *ngIf="isAdmin == true" class="p-home-full-height" id="pub-container">
          <app-quejas-list (actionType)="optionButtonAction($event)"></app-quejas-list>
        </div>

        <div *ngIf="isAdmin == false" class="p-home-full-height" id="ownpub-container">
          <ownpub-container (geoMap)="optionButtonAction($event)"></ownpub-container>
        </div>

        <div class="p-home-full-height">
          <app-map-view *ngIf="enableSecondOp" [focusPubId]="focusedPubId"></app-map-view>
          <div *ngIf="!enableSecondOp" class="personal-content min-height-full"></div>
        </div>

      </owl-carousel>
    </div>

  </ng-container>

  <ng-container *ngIf="!webViewPort">
    <div class="p-home-web-view p-top-margin-home w-100 d-flex justify-content-start">
      <div class="map-web">
        <app-map-view [focusPubId]="focusedPubId"></app-map-view>
      </div>

      <div *ngIf="isAdmin === true" class="pub-web p-home-full-height" id="pub-container">
        <app-quejas-list (actionType)="optionButtonAction($event)"></app-quejas-list>
      </div>

      <div *ngIf="isAdmin === false" class="pub-web p-home-full-height" id="ownpub-container">
        <ownpub-container (geoMap)="optionButtonAction($event)"></ownpub-container>
      </div>
    </div>
  </ng-container>

</section>