//DISPLAY RESOLUTION:
$XS: 376px;
$HS: 476px;
$S: 576px;
$M: 768px;
$L: 992px;
$XL: 1200px;

//MEDIA QUERIES:

@mixin MQ($canvas) {
    @if $canvas == XS {
        @media only screen and (min-width: $XS) { @content; } 
    }
    @if $canvas == HS {
        @media only screen and (min-width: $HS) { @content; } 
    }
    @if $canvas == S {
        @media only screen and (min-width: $S) { @content; } 
    }
    @else if $canvas == M {
        @media only screen and (min-width: $M) { @content; } 
    }
    @else if $canvas == L {
        @media only screen and (min-width: $L) { @content; } 
    }
    @else if $canvas == XL {
        @media only screen and (min-width: $XL) { @content; } 
    }
}