@import "_layout.scss";
@import "_variables.scss";
@import "_fonts.scss";
@import "_switch-input.scss";

//////////////////////////////////////////////////////GENERIC STYLES////////////////////////////////////////////
html {
    font-size: 15px;
}

body {
    font-family: $primary-font !important;
    background-color: $secondary-text;
    background: #222 !important;
    overflow: hidden;
}
.p-body-overflow {
    overflow: hidden;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
}

.primary-font {
    font-family: $primary-font;
}
.second-font {
    font-family: $secondary-font;
}

.personal-isologo {
    background-image: url("/assets/images/logo/logo-1.svg");
    height: 200px;

    @include MQ(XS) {
        height: 230px;
    }
    @include MQ(M) {
        height: 290px;
    }
    @include MQ(L) {
        height: 350px;
    }
}
.personal-logo {
    background-image: url("/assets/images/logo/logo-2.svg");
    height: 80px;

    @include MQ(XS) {
        height: 90px;
    }
    @include MQ(M) {
        height: 110px;
    }
    @include MQ(L) {
        height: 130px;
    }
}
.lukask-logo {
    position: absolute;
    left: 9px;
    background-image: url("/assets/images/logo/logo-1.svg");
    width: 45px;
    height: 45px;
}

.personal-logo, .personal-isologo {
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}
.position-fixed {
    position: fixed;
    top: 0 !important;
    left: 25px;
    width: 130px;
    z-index: 999992;
    transform: translateX(-150%);
    display: none;

    @include MQ(M) {
        display: inherit;
    }
    @include MQ(L) {
        left: 40px;
    }
    @include MQ(XL) {
        left: 42px;
    }
}
.position-fixed:hover {
    cursor: pointer;
}
.position-fixed.on {
    transform: translateX(0);
    transition: transform .5s ease;
}

.personal-content {
    background: #fff;
    width: 100%;
}

h1.personal-content-title {
    width: 100%;
    color: $primary-text;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 340;
    padding-top: 1rem;
    padding-bottom: .5rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0s 0.1s, transform .6s ease;

    @include MQ(S) {
        text-align: justify;
    }
}
h1.left-to-right {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0s 0.4s, transform .7s ease;
}

h4.personal-subtitle {
    color: $primary-text;
    font-weight: 350;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 0s .1s, transform .4s ease;
}
h4.no-animate {
    transform: translateY(0);
    opacity: 1;
}
h4.show-in {
    transform: translateY(0);
    opacity: 1;
    transition: opacity 0s 0.2s, transform .5s ease;
}
h4.header-message {
    font-style: italic;
    font-weight: 300;
    font-size: 1.1rem;

    @include MQ(S) {
        font-size: 1.2rem;
    }
    @include MQ(M) {
        font-size: 1.3rem;
    }
    @include MQ(L) {
        font-size: 1.4rem;
    }
    @include MQ(XL) {
        font-size: 1.6rem;
    }
}

h4.personal-feature {
    font-weight: 300;
    font-size: .9rem;

    @include MQ(M) {
        font-size: 1rem;
    }
    @include MQ(L) {
        font-size: 1.1rem;
    }
}

p, label, div {
    color: $primary-text;
}
//ON LOAD EFFECT:
.personal-fadeout {
    opacity: .2;
    transition: opacity .5s ease;
}
.personal-fadein {
    opacity: 1;
    transition: opacity .75s ease;
}
////

//LOADING CONTENT:
.loading-content {
    //position: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("/assets/images/forms/preloader.gif") center center no-repeat;
    opacity: 0;
    z-index: -1;
    transition: opacity .8s ease, z-index .6s ease;
}
.loading-content.active {
    opacity: .8;
    z-index: 10;
    transition: opacity .5s ease, z-index .2s ease;
}

.loading-content-pop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/images/forms/preloader.gif") center center no-repeat;
    opacity: 0;
    z-index: -1;
    transition: opacity .8s ease, z-index .6s ease;
}
.loading-content-pop.active {
    opacity: .8;
    z-index: 10;
    transition: opacity .5s ease, z-index .2s ease;
}

.light-background {
    opacity: 1;
    transition: opacity .8s ease
}
.light-background.on {
    opacity: .4;
    transition: opacity .5s ease
}

.bottom-loader {
    position: absolute !important;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0s 0.4s, transform 1s ease;
    
    .p-owl-img {
        width: 60px !important;
    }
    .p-owl-img-sm {
        width: 50px !important;
    }
}
.bottom-loader.hide {
    z-index: -1;
}
.bottom-loader.on {
    position: absolute !important;
    bottom: 0;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition: opacity 0s 0.2s, transform .8s ease;
}
////

//FOR ACTIVE OPTION OF A MENU:
.op-active, .op-active a {
    pointer-events: none;
    cursor: default;
}
////

//GENERIC ANIMATION:
@-webkit-keyframes cd-bounce-in {
    0% {
      -webkit-transform: scale(0);
    }
  
    60% {
      -webkit-transform: scale(1.2);
    }
  
    100% {
      -webkit-transform: scale(1);
    }
}
@-moz-keyframes cd-bounce-in {
    0% {
      -moz-transform: scale(0);
    }
  
    60% {
      -moz-transform: scale(1.2);
    }
  
    100% {
      -moz-transform: scale(1);
    }
}
@keyframes cd-bounce-in {
    0% {
      transform: scale(0);
    }
  
    60% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
}


@-webkit-keyframes cd-bounce-out {
    0% {
      -webkit-transform: scale(1);
    }
  
    60% {
      -webkit-transform: scale(.5);
    }
  
    100% {
      -webkit-transform: scale(0);
    }
}
@-moz-keyframes cd-bounce-out {
    0% {
      -moz-transform: scale(1);
    }
  
    60% {
      -moz-transform: scale(.5);
    }
  
    100% {
      -moz-transform: scale(0);
    }
}
@keyframes cd-bounce-out {
    0% {
      transform: scale(1);
    }
  
    60% {
      transform: scale(.5);
    }
  
    100% {
      transform: scale(0);
    }
}


@-webkit-keyframes cd-bounce-infinit {
    0% {
      -webkit-transform: scale(1.2);
    }
    60% {
      -webkit-transform: scale(.9);
    }
    100% {
      -webkit-transform: scale(1.2);
    }
}
@-moz-keyframes cd-bounce-infinit {
    0% {
        -moz-transform: scale(1.2);
      }
      60% {
        -moz-transform: scale(.9);
      }
      100% {
        -moz-transform: scale(1.2);
      }
}
@keyframes cd-bounce-infinit {
    0% {
        transform: scale(1.2);
      }
      60% {
        transform: scale(.9);
      }
      100% {
        transform: scale(1.2);
      }
}
////

//HEIGHT:
.p-home-full-height {
    overflow-y: auto;
    width: 100%;
    height: calc(100vh - 55px) !important;
}
////

//MIN HEIGHT:
.min-height-full {
    min-height: 110vh !important;
}
.min-height-full-modal {
    min-height: 100vh !important;
}
.min-height-half {
    min-height: 50vh !important;
}
////
//MAX HEIGHT:
.max-height-full {
    max-height: 110vh !important;
}
.max-height-full-modal {
    max-height: 100vh !important;
}
.max-height-75 {
    max-height: 75vh !important;
}
.max-height-60 {
    max-height: 60vh !important;
}
.max-height-half {
    max-height: 50vh !important;
}
.max-height-fourth {
    max-height: 40vh !important;
}
.max-height-third {
    max-height: 30vh !important;
}
.p-overflow-auto {
    overflow-y: auto;
    overflow-x: hidden;
}
.p-overflow-hidden {
    overflow: hidden;
}
////

.icon-size-5 {
    font-size: 5rem;

    @include MQ(S) {
        font-size: 5.3rem;
    }
    @include MQ(M) {
        font-size: 5.6rem;
    }
    @include MQ(L) {
        font-size: 5.9rem;
    }
}
.icon-size-6 {
    font-size: 6rem;

    @include MQ(S) {
        font-size: 6.3rem;
    }
    @include MQ(M) {
        font-size: 6.6rem;
    }
    @include MQ(L) {
        font-size: 6.9rem;
    }
}

/*OWL CAROUSEL WITH NAV BUTTONS CUSTOMIZED*/
.p-owl-full-height {
    owl-carousel-child, div {
        height: 100% !important;
    }
}
.personal-owl-nav {
    display: unset !important;

    .owl-stage {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .owl-nav {
        position: absolute;
        bottom: 5px;
        right: 5px;
        z-index: 3;
        color: #fff;

        button {
            outline: none;
            border-radius: 50% !important;
            width: 30px;
            height: 30px;
            background: rgba(255, 255, 255, 0.7) !important;
            transition: all .5s !important;

            i {
                vertical-align: middle;
                font-size: 1.2rem;
                color: $primary-dark;
            }

        }
        button:first-child {
            i {
                margin-right: 2px;
            }
        }
        button:last-child {
            i {
                margin-left: 2px;
            }
        }
        button:hover {
            opacity: .7;
        } 
    }
}

.personal-ul, .personal-ul li{
    list-style: disc;
}

/*GENERIC ANIMATIONS*/
.generic-left-to-right {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0s 0.3s, transform .5s ease;
}
.generic-left-to-right.invert {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0s 0.3s, transform .5s ease;

    @include MQ(L) {
        transform: translateX(-100%);
    }
}
.generic-left-to-right.animate {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0s 0.4s, transform .7s ease;
}

.generic-down-to-up {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0s 0.3s, transform .5s ease;
}
.generic-down-to-up.animate {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0s 0.2s, transform .7s ease;
}
/**************************************************************/

//FLEX-CHILDS:
.f-child-full-space {
    flex: 1 0 auto !important;
}
.f-child-no-auto {
    flex: 1 0 !important;
}
.f-child-no-shrink {
    flex-shrink: 0 !important;
}
.f-child-order-0 {
    order: 0;
}
.f-child-order-1 {
    order: 1;
}
.f-child-order-2 {
    order: 2;
}
////

//DARK-CRYSTAL DIV
.dark-crystal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, .3);
    transition: all .5s ease;
}
////

.personal-img-header {
    background-color: #aaa;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}

.secondary-color {
    color: $secondary-text;
}

.header-title {
    position: relative;
    z-index: 2;
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////PORTADA STYLES////////////////////////////////////////////
.portada-fixed {
    position: absolute;
    background: #222;
    z-index: 9999999998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity .5s ease;
}
.portada-fixed.fade {
    opacity: 0;
    transition: opacity .75s ease;
}
.portada-fixed.hide {
    z-index: -1;
}

#personal-portada {
    position: absolute;
    z-index: 9999999999;
    transform: translateY(0);
    transition: transform 1.2s ease;

    .personal-init {

        ////NEXT INTERACTS WITH animated-intro-css FILE:
        .loading-bar {
            color: $primary-dark;
            background-color: $primary-dark;
            width: 85%;
        }
    }
}

#personal-portada.go-up {
    transform: translateY(-100%);
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*******************************
///////LOGIN COMPONENT
********************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*******************************
///////MAIN NAV
********************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////
#menu-nav {
    z-index: 12;
    right: $nav-x;
    bottom: $nav-menu-bottom;
    text-indent: 100%;
    white-space: nowrap;
    width: $nav-menu-size-lg;
    height: $nav-menu-size-lg;
    border-radius: 50%;
    transition: bottom .3s ease;
}

.menu-nav-onfooter {
    bottom: $nav-menu-bottom-1 !important;

    @include MQ(S) {
        bottom: $nav-menu-bot-foot-lg !important;
    }
}

.personal-nav-btn {
    position: fixed;
    //box-shadow: 0 0 10px $primary;
    -webkit-box-shadow: 1px 2px 4px 2px $primary-a;
    -moz-box-shadow: 1px 2px 4px 2px $primary-a;
    box-shadow: 1px 2px 4px 2px $primary-a;
    background: $primary-dark;

    .nav-icon {
        background: $secondary-text;
    }
}

////NAVIGATION MENU BAR:
.personal-primary-nav {
    position: fixed !important;
    right: $nav-x;
    bottom: $nav-menu-bottom;
    max-width: 350px;
    width: calc(100% - 3.5rem);
    max-height: 19rem;
    z-index: 9999998;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background: #fff;

    .personal-nav-header {
        display: flex;
        border-bottom: 1px solid rgba(0,0,0,.125);
        position: relative;

        span {
            position: absolute;
            z-index: 0;
            background: $primary-dark;
            border-radius: .25rem;
            width: 100%;
            height: calc(100% - 1px);
            transform: translateX(0);
            transition: all .5s ease;
        }

        span.first-focused, span.second-focused {
            width: 50%;

            @include MQ(M) {
                width: 100%;
            }
        }
        span.second-focused {
            transform: translateX(100%);
                
            @include MQ(M) {
                transform: translateX(0);
            }
        }

        .personal-tab {
            z-index: 1;
            flex: 1 1 auto;
            min-height: $option-min-height;
            transition: all .5s ease;
            background: transparent;
        }

        .personal-tab.show-local {
            display: inherit;

            @include MQ(M) {
                display: none;
            }
        }

        a {
            color: $primary-dark-a;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .5s ease;
        }

        .tab-link-active a {
            color: $secondary-text;
            transition: all .5s ease;
            //REF: https://stackoverflow.com/questions/2091168/how-to-disable-a-link-using-only-css
            pointer-events: none;
            cursor: default;
        }
    }

    .personal-nav-content {
        width: 200%;
        padding: 0;
        max-height: 13rem;
        overflow: hidden;
        display: flex;

        > div {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            //transform: translateX(-100%);
            transition: transform .5s ease;

            ul {
                position: relative;
                margin: 0 !important;
                padding: 0 !important;
                width: 100%;
                max-height: 13rem;
                overflow-y: auto !important;
                overflow-x: hidden !important;

                .focus-panel {
                    position: absolute;
                    left: 0;
                    top: 1px;
                    z-index: 0;
                    background: $primary-light;
                    min-height: $option-min-height;
                    width: 100%;
                    transition: all .5s ease;
                }

                li {
                    position: relative;
                    padding: 0 !important;
                    min-height: $option-min-height !important;
                    width: 100%;
                    display: table;
                    border-bottom: 1px solid rgba(0,0,0,.125);
                    background: transparent;
                    z-index: 1;
                    transition: all .3s ease;
            
                    a {
                        padding: .5rem 1rem;
                        display: table-cell;
                        color: $primary-text;
                        transition: all .5s ease;
                    }
                }

                li.op-active {
                    border-bottom: 1px solid transparent;
                    transition: all .3s ease;

                    a {
                        color: $primary-dark-a;
                    }
                }
            }
        }

        > div.first-showed {
            transform: translateX(0);

            @include MQ(M) {
                transform: translateX(-100%);
            }
        }
        > div.menu-moving {
            ul {
                overflow-y: hidden !important;
            }
        }
    }

    .personal-nav-footer {
        padding: .5rem 0;
    }

    @include MQ(L) {
        right: $nav-x-lg;
        bottom: $nav-menu-bottom-lg;
    }
}
.personal-primary-nav-onfooter {
    bottom: $nav-menu-bottom-1 !important;

    @include MQ(S) {
        bottom: $nav-menu-bot-foot-lg !important;
    }
}

////NEXT INTERACTS WITH smart-fixed-nav-css FILE:
.cd-nav-trigger.menu-is-open {
    box-shadow: none;
    background: transparent;
    
    .nav-icon {
        background: transparent;
    }

    .nav-icon::before, .nav-icon::after {
        background: $primary-dark;
    }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//////PANEL DE OPCIONES:
.top-panel, .bot-panel, .p-home-panel {
    position: fixed;
    z-index: 11;
    left: 0px;
    width: 100%;
    height: 55px;
    background: $secondary-text;
    transition: transform .3s ease;
}
.p-home-panel {
    top: 0px;
    z-index: 2;
    border-bottom: solid 1px rgba(0,0,0,0.2) !important;
    -webkit-box-shadow: 2px 1px 3px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 2px 1px 3px rgba(0,0,0,0.2) !important;
    box-shadow: 2px 1px 3px rgba(0,0,0,0.2) !important;
}
.p-top-margin-home {
    margin-top: 55px;
}

.top-panel {
    top: 0px;
    -webkit-box-shadow: 2px 1px 3px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 2px 1px 3px rgba(0,0,0,0.2) !important;
    box-shadow: 2px 1px 3px rgba(0,0,0,0.2) !important;
    transform: translateY(-110%);
    
    .opcion {
        background: transparent;
        transition: all .5s ease;

        fa, span {
            color: $primary;
            font-size: 1.5rem;
        }
    }
    .opcion.focused {
        fa, span {
            color: $primary-dark;
        }
    }
    
    .menu-focus {
        position: absolute;
        //background: $primary-dark-a;
        z-index: -1;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 30%;
        border-bottom: 2px solid $primary-dark;
        transition: all .5s ease;
    }
}
.bot-panel {
    bottom: -1px;
    -webkit-box-shadow: 2px -1px 3px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 2px -1px 3px rgba(0,0,0,0.2) !important;
    box-shadow: 2px -1px 3px rgba(0,0,0,0.2) !important;
    transform: translateY(110%);

    button {
        color: $primary !important;
        border-color: $primary !important;
    }
}

.top-panel.slide-in, .bot-panel.slide-in {
    transform: translateY(0);
    transition: transform .5s ease;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*************************************
///////MAP VIEW:
*************************************/
.personal-map {
    height: 100vh;
    position: relative;
}
.personal-single-map {
    height: 50vh;
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.p-shadow-card {
    -webkit-box-shadow: 3px 2px 3px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 3px 2px 3px rgba(0,0,0,0.2) !important;
    box-shadow: 3px 2px 3px rgba(0,0,0,0.2) !important;
}
.p-no-border-rad-card {
    border-radius: 0 !important;
}
.p-transparent-card {
    background-color: rgba(0,0,0, .4) !important;
    border-color: $secondary-text !important;

    div {
        background-color: transparent !important;
        border-color: $secondary-text !important;
        color: $secondary-text !important;
    }

    ul {
        li {
            background-color: transparent !important;
            border-color: $secondary-text !important;
            color: $secondary-text !important;
        }
    }

    a, fa, span, small {
        color: $secondary-text !important;
    }
}

.personal-icon-btn {
    border-color: $primary !important;
    color: $primary !important;
    min-width: 2rem;
}
.personal-icon-btn:hover {
    color: $secondary-text !important;
    background: $primary !important;
}

//ESTILOS PARA FORMULARIO TRANSPARENTE:
.transparent-form {
    position: absolute !important;
    z-index: 1;
}
.transparent-form, .transparent-form ul, .transparent-form ul li {
    background: rgba(0, 0, 0, .3) !important;
    border-color: rgba(255, 255, 255, .8) !important;
    color: $secondary-text !important;
}
.transparent-form {
    ul {
        li {
            div {
                color: $secondary-text !important;
            }
        }
    }
}
.transparent-form {
    ul {
        li {
            textarea, textarea:focus {
                background: transparent;
                border-color: #fff;
                color: #fff;
            }
        }
    }
}
////

////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*
* //QUEJA
*/
.personal-profile-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #aaa;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    flex: 0 0 auto !important;
}
.personal-square-img {
    width: 120px;
    height: 60px;
    overflow: hidden;
    background-color: #aaa;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    flex: 0 0 auto !important;
}
.profile-img-notif {
    width: 60px;
    height: 60px;
}

.pers-profile-img-comen {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #aaa;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    flex: 0 0 auto !important;
}

.personal-queja {
    .personal-usr-queja {
        background: $primary;
        color: $secondary-text;
        border-bottom: 2px solid $secondary-text;
    }

    .card-img-top {
        position: relative;

        span {
            position: absolute;
            bottom: 10px;
            right: 15px;
            width: 30px;
            height: 30px;
            z-index: 1;
            background: rgba(255, 255, 255, .7);
            border-radius: 50%;
            text-align: center;

            fa {
                color: $primary-dark;
                font-size: 1.5rem;
            }
        }

        img {
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: 3px;
            height: 180px;
            object-fit: cover;
        }
        img.full {
            width: 100%;
        }
        img.half {
            width: 48%;
        }
    }
}
//EDIT-QUEJA
.p-pub-media {
    max-height: 250px;
    img {
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 3px;
        height: 250px;
        object-fit: cover;
    }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*************************************
///////SECTION TO SHOW ALERTS:
*************************************/
.alert-container {
    position: fixed;
    background: rgba(0, 0, 0, .3);
    z-index: 9999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s;

    .personal-alert {
        position: relative;
        margin: 0 auto;
        opacity: 0;
        max-width: 400px;
        background: $secondary-text !important;
        transform: translateY(-100%);
        transition: opacity 0s .4s, transform .7s ease;

        .alert-close {
            position: absolute;
            top: 7px;
            right: 10px;
            transition: color .3s ease;

            fa {
                font-size: .7rem;
            }
        }
        .alert-close:hover {
            opacity: .4;
        }

        .alert-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, .125);

            fa {
                font-size: 1.55rem;

                @include MQ(XS) {
                    font-size: 1.65rem;
                }
            }
            fa.animate {
                animation: cd-bounce-in 0.4s linear;
            }

            @include MQ(M) {
                border-bottom: none;
                border-right: 1px solid rgba(0, 0, 0, .125);
                max-width: 200px;
            }
        }

        @include MQ(XS) {
            max-width: 320px;
        }
        @include MQ(M) {
            max-width: 500px;
        }
    }
    .personal-alert.on {
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0s .3s, transform .5s ease;
    }

    .personal-success {
        border-color: $success-low !important;

        div {
            color: $success !important;
        }

        .alert-icon {
            border-bottom-color: $success-low;
            border-right-color: $success-low;
        }

        .alert-close {
            color: $success-low !important;
        }
    }
    .personal-info {
        border-color: $info-low;

        div {
            color: $info !important;
        }

        .alert-icon {
            border-bottom-color: $info-low;
            border-right-color: $info-low;
        }

        .alert-close {
            color: $info-low !important;
        }
    }
    .personal-warning {
        border-color: $warning-low;

        div {
            color: $warning !important;
        }

        .alert-icon {
            border-bottom-color: $warning-low;
            border-right-color: $warning-low;
        }

        .alert-close {
            color: $warning-low !important;
        }
    }
    .personal-danger {
        border-color: $danger-low;

        div {
            color: $danger !important;
        }

        .alert-icon {
            border-bottom-color: $danger-low;
            border-right-color: $danger-low;
        }

        .alert-close {
            color: $danger-low !important;
        }
    }
}

.alert-container.active {
    opacity: 1;
    transition: opacity .2s;
}
////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*************************************
///////DYNAMIC CONTENT:
*************************************/
.personal-dyna-cont {
    position: fixed !important;
    left: 0;
    top: 100%;
    z-index: 10000000000000000;
    transition: all .3s ease;
}
.personal-dyna-cont.show {
    top: 0px;
    transition: all .5s ease;
}

.personal-dyna-down {
    position: fixed !important;
    left: 0;
    bottom: -100%;
    transition: all .3s ease;
}
.personal-dyna-down.show {
    bottom: 0px;
    transition: all .5s ease;
}

.personal-dyna-up {
    position: fixed !important;
    left: 0;
    top: -100%;
    transition: all .3s ease;
}
.personal-dyna-up.show {
    top: 0px;
    transition: all .5s ease;
}

.fixed-background {
    position: fixed;
    background: rgb(37, 35, 35);
    z-index: 10000000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: all .3s ease;
}
.fixed-background.on {
    opacity: .9;
    transition: opacity .5s ease;
}
.opacity-light.on {
    opacity: .7;
}
.opacity-almost-null.on {
    opacity: .2;
}

.personal-over-unset {
    overflow: unset;
}

.absolute-background {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}
.absolute-layer {
    position: absolute;
}
.fixed-layer {
    position: fixed;
}
.p-top-layer {
    top: 0px;
}
.p-bottom-layer {
    bottom: -1px;
}
.relative-background {
    position: relative;
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*************************************
///////PERSONAL EDIT-QUEJA:
*************************************/
#carousel-edit-q {
    .owl-item:first-child {
        z-index: 1;
    }
}

#frmQ {
    .card-img-top {
        position: relative;

        img {
            border: 1px solid rgba(0, 0, 0, .125);
            border-radius: 3px;
            object-fit: cover;
        }
    }
    .list-group {
        fa {
            padding-right: 5px;
        }
    }
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*************************************
///////PERSONAL NEW MEDIA:
*************************************/
.default-back {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-image: url('/assets/images/edit-queja/window.jpg');
}
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////

//ICONS:
.personal-site-icon {
    font-family: "lukask-font" !important;
    color: $secondary-text;
    font-size: 1.1rem;
}
.icon-normal {
    font-size: 1.1rem;
}
.icon-xs {
    font-size: 1.3rem;
}
.icon-sm {
    font-size: 1.5rem;
}
//////////////////////////////////

////JQUERY SELECT2 WITH BOOTSTRAP
.select2-container {
    width: 100% !important;
}
.select2-container.select2-container--open {
    z-index: 99999999999;
    width: unset !important;
}

.p-fixed-select2 {
    position: fixed !important;
    top: unset !important;
    bottom: 0px !important;
}
.p-select2-container {
    .select2-container {
        z-index: 1;
    }
}

/////////////////

///PERSONAL BUTTONS:
.p-trans-btn-generic {
    background: rgba(0, 0, 0, .3) !important;
    border-color: rgba(255, 255, 255, .8) !important;
    color: rgba(255, 255, 255, .8) !important

    fa, span {
        color: rgba(255, 255, 255, .8) !important
    }
}
.p-transparent-btn {
    border-radius: 50% !important;
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0, .3) !important;
    border: solid 1px rgba(255, 255, 255, .8) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0px !important;

    fa, span {
        font-size: 40px;
        color: rgba(255, 255, 255, .8) !important
    }
}
.p-transparent-btn.md {
    width: 60px;
    height: 60px;

    fa, span {
        font-size: 30px;
    }
}
.p-transparent-btn.sm {
    width: 40px;
    height: 40px;

    fa, span {
        font-size: 20px;
    }
}
.p-transparent-btn.xs {
    width: 30px;
    height: 30px;

    fa, span {
        font-size: 1.1rem !important;;
    }
}

.p-float-btn, .p-float-link, .p-float-div {
    position: absolute;
    z-index: 1;
}
.p-index-1 {
    z-index: 2;
}
.p-index-2 {
    z-index: 2;
}
.top-left-corner {
    top: 5px;
    left: 5px;
}
.top-left-outer-corner {
    top: 0px;
    left: 0px;
}
.top-right-corner {
    top: 5px;
    right: 10px;
}
.down-right-corner {
    bottom: 3px;
    right: 20px;
}

//MATERIAL BUTTONS:
.personal-material-btn {
    position: fixed;
    z-index: 8;
    right: 12px;
    bottom: -100%;
    transition: all .3s ease;
}
.personal-material-btn.no-modal {
    z-index: 4;
    bottom: 3px;
}
.personal-material-btn.show {
    bottom: 3px;
    transition: all .5s ease;
}

.custom-btn {
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-color: $primary !important;
    width: $material-btn-wh;
    height: $material-btn-wh;
    border-radius: 50% !important;
    background: $primary !important;
    -webkit-box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2) !important;
    box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2) !important;

    fa, span {
        color: $secondary-text !important;
    }
    &.custom-btn-normal {
        background: $primary !important;
        border-color: $primary !important;
    }
}
.p-sec-btn {
    background: $primary-dark !important;
    border-color: $primary-dark !important;
}

.custom-panel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 1px $secondary-text;
    background: $secondary-text;
    -webkit-box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2) !important;
    box-shadow: 1px 2px 4px 2px rgba(0,0,0,0.2) !important;

    fa, span {
        margin-left: 1px;
        color: $primary;
    }
}
.custom-panel-btn.p-disabled {
    opacity: .5 !important;
}
.custom-panel-btn.p-disabled:hover {
    border: solid 1px $secondary-text;
    background: $secondary-text;

    fa, span {
        color: $primary;
    }
}
.custom-panel-btn:hover {
    border: solid 1px $primary;
    background: $primary;

    fa, span {
        color: $secondary-text;
    }
}

.no-border-button {
    width: 27px;
    height: 27px;
    border: none !important;
    background: transparent !important;
    transition: all .3s;

    display: flex;
    justify-content: center;
    align-items: center;
    
    fa, span {
        font-size: 1.1rem;
        color: $primary;
        transition: all .5s ease;
    }
}
.no-border-button.small {
    width: 24px;
    height: 24px;

    fa, span {
        font-size: 1rem;
        transition: all .5s ease;
    }
}
.no-border-button.dark {

    fa, span {
        color: $primary-dark;
    }
}
.no-border-button.secondary-dark {

    fa, span {
        color: $secondary-dark;
    }
}
.no-border-button.light {

    fa, span {
        color: $primary-light;
    }
}
.no-border-button.secondary {

    fa, span {
        color: $primary-text;
    }
}
.no-border-button:hover {
    opacity: .8;
}
.no-border-button.md {
    fa, span {
        font-size: 1.3rem;
    }
}

.focused-btn {
    background: $primary-dark !important;
    border-radius: 50%;
    position: absolute;
    animation: cd-bounce-infinit 1.2s infinite;

    fa, span {
        color: $secondary-text
    }
}
.focused-btn.unable {
    background: $primary-text !important;
    animation: unset;
}

.animated-btn-h {
    position: absolute;
    z-index: -1;
    top: -100%;
    left: 0px;
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
}
.animated-btn-h.animate-in {
    z-index: 1;
    visibility: visible;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-animation: cd-bounce-in 0.3s linear;
    -moz-animation: cd-bounce-in 0.3s linear;
    animation: cd-bounce-in 0.3s linear;
}

.animated-btn-v {
    position: absolute;
    z-index: 1;
    top: -100%;
    left: 0px;
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s, visibility 0s 0.3s;
    -moz-transition: -moz-transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
}
.animated-btn-v.animate-out {
    z-index: -1;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    transition: all 0s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-animation: cd-bounce-out 0.3s linear;
    -moz-animation: cd-bounce-out 0.3s linear;
    animation: cd-bounce-out 0.3s linear;
}

.p-outline-btn {
    border-color: $primary !important;
    color: $primary !important;
    
    &.dark {
        border-color: $primary-dark !important;
        color: $primary-dark !important;
    }
    &.upper {
        text-transform: uppercase;
    }
}
/////////////////////

//////CAMERA:
.camera-content {
    position: absolute !important;
    top: 0 !important;
    min-width: 100% !important; min-height: 100% !important;
    width: auto; height: auto !important;
    background-color: #aaa;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;

    .video-camera {
        position: absolute;
        width: auto;
        height: 100%;

        @include MQ(HS) {
            width: 100%;
            height: auto;
        }
    }
}

.p-camera-center {
    left: 0px;
}
/////////////////////

///PERSONAL STYLE FOR INPUT CONTROLS:
.p-border-none {
    border: none !important;
}
.p-border-trans {
    border-color: transparent !important;
}
////

//TEXT CUSTOM STYLES:
.p-normal-text-color, .p-normal-text-color:hover {
    color: $primary;
}

.p-dark-text-color, .p-dark-text-color:hover {
    color: $primary-dark;
}
.p-primary-text-color, .p-primary-text-color:hover {
    color: $primary-text !important;
}
.p-secondary-text-color, .p-secondary-text-color:hover {
    color: $secondary-text !important;
}
////

//BACKGROUND COLOR CUSTOM STYLES:
.p-normal-back-color, .p-normal-back-color:hover {
    background: $primary !important;
}
.p-dark-back-color, .p-dark-back-color:hover {
    background: $primary-dark !important;
}
.p-primary-back-color, .p-primary-back-color:hover {
    background: $primary-text !important;
}
.p-secondary-back-color, .p-secondary-back-color:hover {
    background: $secondary-text !important;
}
////

////ETILOS PARA FORMULARIOS
input[type=text], input[type=password], input[type=email], input[type=number], input[type=date], input[type=tel], textarea, .select2-selection {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background: #fff !important;
}

/////////////////////////////////////////NOTIFICATIONS////////////////////////////////////////////////////////
.p-notif-container {
    position: fixed;
    z-index: 10000000001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    max-width: 400px;
    opacity: 0;
    transition: opacity .4s;

    .p-notification {
        position: relative;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity 0s .4s, transform .7s ease;
    }
    .p-notification.on {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0s .3s, transform .5s ease;
    }
}
.p-notif-container.active {
    opacity: 1;
    transition: opacity .2s;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

////ESTILOS PARA NÚMERO DE NOTIFICACIONES:
.news-number {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: $secondary-text !important;
    font-size: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-dark;
 
    &.news-main {
        position: fixed;
        top: unset;
        z-index: 10000000;
        right: $nav-x + $nav-menu-size-lg - .5rem;
        bottom: $nav-menu-bottom-lg + $nav-menu-size-lg - .5rem;
        background: $primary;
    }

    &.news-material-btn {
        right:calc(#{$material-btn-wh} - 5px) ;
        top: -12px;
    }
}
////

//////////////////CAROUSEL PERSONALIZADO////////////////
.personal-carousel.prev {
    position: absolute;
    transform: translateX(-100%);
    transition: all .6s;
}
.personal-carousel {
    position: relative;
    transform: translateX(0);
    transition: all .4s;
}
.personal-carousel.next {
    position: absolute;
    transform: translateX(100%);
}
////
///////STYLES FOR HORIZON POP OVER COMPONENT:
.personal-pop-over {
    overflow: hidden;
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: scale(0);
    transform-origin: top left;
    transition: transform 0.3s, visibility 0s 0.3s;
}
.personal-pop-over.is-visible {
    visibility: visible;
    transform: scale(1);
    transition: transform 0.3s, visibility 0s 0s;
  }
/////////////////////////////////////////////

///////////////////////IMAGE INSIDE POP OVER STYLES///////////////////////////////
.p-img-pop {
    border-radius: 3px;
    height: 180px;
    object-fit: cover;
}

.p-find-accounts {
    .p-img-pop {
        //REF: https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css
        content: url("/assets/images/payments/security-card-sm.jpg");
    }

    .personal-site-icon {
        color: $primary-text;
        font-size: 2rem;
        line-height: 2rem;
    }
}

.p-purchase-card {
    .p-img-pop {
        //REF: https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css
        content: url("/assets/images/payments/card-hands-sm.jpg");
        height: 160px;
    }
}

.p-signup {
    .p-img-pop {
        //REF: https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css
        content: url("/assets/images/registro/signup-sm.jpg");
        height: 160px;
    }
}
//////////////////////////////////////////////////////////////////////////////////

///////INTRO SLIDER:////////
.personal-intro-slider {
    position: relative;
    height: 100vh;
    background: $primary;
    
    ul {
        padding: 0;
        margin: 0;
        position: relative;
        overflow: hidden;
        height: 100%;

        li {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center center !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transform: translateX(-100%);
            transition: transform .7s;

            .personal-slider-cont {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
                padding: 0 1.2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                backface-visibility: hidden;
                background-color: rgba(0, 0, 0, .125);
                transform: translateZ(0);

                h2 {
                    color: $secondary-text;
                    font-size: 1.5rem;
                    font-weight: 250;
                    text-transform: uppercase;

                    @include MQ(S) {
                        font-size: 1.8rem;
                    }
                    @include MQ(M) {
                        font-size: 2.3rem;
                        font-weight: 300;
                    }
                    @include MQ(L) {
                        font-size: 2.5rem;
                    }
                    @include MQ(XL) {
                        font-size: 3rem;
                    }
                }
                h2, p, .p-slider-options {
                    text-align: left;
                    opacity: 0;
                    transform: translateX(100px);
                }

                .p-slider-options {
                    position: relative;
                    z-index: 2;

                    .btn {
                        cursor: pointer;
                    }
                }

                @include MQ(S) {
                    padding: 0 2.2rem;
                }
                @include MQ(M) {
                    padding: 0 3.5rem;
                }
                @include MQ(L) {
                    padding: 0 4.5rem;
                }
                @include MQ(XL) {
                    padding: 0 5rem;
                }
            }
        }

        li.selected {
            position: relative;
            transform: translateX(0);

            .personal-slider-cont {
                h2, p, .p-slider-options {
                    opacity: 1;
                    transform: translateX(0);
                }

                h2 {
                    transition: opacity .5s .3s, transform .6s .3s;
                }
                p {
                    transition: opacity .5s .4s, transform .6s .4s;
                }
                .p-slider-options {
                    transition: opacity .5s .5s, transform .6s .5s;
                }
            }
        }
        li.move-to-hide {
            transform: translateX(100%);

            .personal-slider-cont {

                h2, p, .p-slider-options {
                    opacity: 0;
                    transform: translateX(-100px);
                }
            }
        }

        li.is-moving {
            .personal-slider-cont {
                h2, p, .p-slider-options {
                    transition: opacity 0s 0.3s, transform 0s 0.3s;
                }
            }
        }
    }

    .p-absolute-options {
        position: absolute;
        top: 55%;
    }
}

.img-opacity {
    background: rgba(0, 0, 0, .125);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

////////////////////////////////////////////////////////////////////////////////////

//SLIDER NAVIGATION PLAY, PAUSE, NEXT AND PREV:
.p-slide-nav-gen {
    display: inherit;
}

.personal-nav-prev, .personal-nav-next, .personal-play, .personal-pause {
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 70px;
    bottom: 50px;

    @include MQ(M) {
        bottom: 70px;
    }
    @include MQ(L) {
        background: transparent !important;
        top: 0;
        width: calc(100% / 3);
        height: 100%;
        bottom: auto;
    }
}
.personal-nav-prev {
    background: url('/assets/images/slider-nav/prev.png') center center no-repeat;
    right: calc(50% + 35px);

    @include MQ(L) {
        cursor: url('/assets/images/slider-nav/prev.png');
        cursor: url('/assets/images/slider-nav/prev.png'), auto;
        cursor: url('/assets/images/slider-nav/cur/prev.cur');
        left: 0;
        right: auto;
    }
}
.personal-play {
    display: none;
    background: url('/assets/images/slider-nav/play.png') center center no-repeat;
    left: calc(50% - 35px);

    @include MQ(L) {
        cursor: url('/assets/images/slider-nav/play.png');
        cursor: url('/assets/images/slider-nav/play.png'), auto;
        cursor: url('/assets/images/slider-nav/cur/play.cur');
        left: calc(100% / 3);
    }
}
.personal-pause {
    background: url('/assets/images/slider-nav/pause.png') center center no-repeat;
    left: calc(50% - 35px);

    @include MQ(L) {
        cursor: url('/assets/images/slider-nav/pause.png');
        cursor: url('/assets/images/slider-nav/pause.png'), auto;
        cursor: url('/assets/images/slider-nav/cur/pause.cur');
        left: calc(100% / 3);
    }
}
.personal-nav-next {
    background: url('/assets/images/slider-nav/next.png') center center no-repeat;
    left: calc(50% + 35px);

    @include MQ(L) {
        cursor: url('/assets/images/slider-nav/next.png');
        cursor: url('/assets/images/slider-nav/next.png'), auto;
        cursor: url('/assets/images/slider-nav/cur/next.cur');
        right: 0;
        left: auto;
    }
}
////

/////SWITCH INPUT/////
//REF: https://www.abeautifulsite.net/bootstrap-4-switches
.switch {
    font-size: $font-size-base;
    position: relative;
  
    input {
      position: absolute;
      height: 1px;
      width: 1px;
      background: none;
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      overflow: hidden;
      padding: 0;
  
      + label {
        position: relative;
        min-width: calc(#{$switch-height} * 2);
        border-radius: $switch-border-radius;
        height: $switch-height;
        line-height: $switch-height;
        display: inline-block;
        cursor: pointer;
        outline: none;
        user-select: none;
        vertical-align: middle;
        text-indent: calc(calc(#{$switch-height} * 2) + .5rem);
      }
  
      + label::before,
      + label::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(#{$switch-height} * 2);
        bottom: 0;
        display: block;
      }
  
      + label::before {
        right: 0;
        background-color: $switch-bg;
        border-radius: $switch-border-radius;
        transition: $switch-transition;
      }
  
      + label::after {
        top: $switch-thumb-padding;
        left: $switch-thumb-padding;
        width: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
        height: calc(#{$switch-height} - calc(#{$switch-thumb-padding} * 2));
        border-radius: $switch-thumb-border-radius;
        background-color: $switch-thumb-bg;
        transition: $switch-transition;
      }
  
      &:checked + label::before {
        background-color: $switch-checked-bg;
      }
  
      &:checked + label::after {
        margin-left: $switch-height;
      }
  
      &:focus + label::before {
        outline: none;
        //box-shadow: $switch-focus-box-shadow;
      }
  
      &:disabled + label {
        color: $switch-disabled-color;
        cursor: not-allowed;
      }
  
      &:disabled + label::before {
        //background-color: $switch-disabled-bg;
        background-color: $primary-text;
      }
    }
  
    // Small variation
    &.switch-sm {
      font-size: $font-size-sm;
  
      input {
        + label {
          min-width: calc(#{$switch-height-sm} * 2);
          height: $switch-height-sm;
          line-height: $switch-height-sm;
          text-indent: calc(calc(#{$switch-height-sm} * 2) + .5rem);
        }
  
        + label::before {
          width: calc(#{$switch-height-sm} * 2);
        }
  
        + label::after {
          width: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
          height: calc(#{$switch-height-sm} - calc(#{$switch-thumb-padding} * 2));
        }
  
        &:checked + label::after {
          margin-left: $switch-height-sm;
        }
      }
    }
  
    // Large variation
    &.switch-lg {
      font-size: $font-size-lg;
  
      input {
        + label {
          min-width: calc(#{$switch-height-lg} * 2);
          height: $switch-height-lg;
          line-height: $switch-height-lg;
          text-indent: calc(calc(#{$switch-height-lg} * 2) + .5rem);
        }
  
        + label::before {
          width: calc(#{$switch-height-lg} * 2);
        }
  
        + label::after {
          width: calc(#{$switch-height-lg} - calc(#{$switch-thumb-padding} * 2));
          height: calc(#{$switch-height-lg} - calc(#{$switch-thumb-padding} * 2));
        }
  
        &:checked + label::after {
          margin-left: $switch-height-lg;
        }
      }
    }
  
    + .switch {
      margin-left: 1rem;
    }
  
    // MAIN COLOR VARIATION
    &.switch-normal {
      input {
          &:checked + label::before {
              background-color: $primary;
          }
      }
    }
    // PRIMARY LIGHT COLOR VARIATION
    &.switch-dark {
      input {
          &:checked + label::before {
              background-color: $primary-dark;
          }
      }
    }
    // PRIMARY LIGHT COLOR VARIATION
    &.switch-light {
      input {
          &:checked + label::before {
              background-color: $primary-light;
          }
      }
    }
  
  }
  ////////////////////////

//////////////////////SNACK BAR PERSONAL CLASSES///////////////////////////
.p-snackbar-layout {
    z-index: 10000000000000000 !important;
    font-family: $primary-font !important;
    
    p {
        font-size: .9rem !important;
    }
    
    button {
        font-family: $primary-font !important;
    }
}
///////////////////////////////////////////////////////////////////////////

////////////////////////////BOOTSTRAP CAROUSEL/////////////////////////////
.p-carousel-control {
    top: 50px !important;
    bottom: 50px !important;
}
///////////////////////////////////////////////////////////////////////////

////////////////////////////INSTALLATION SLIDER/////////////////////////////
.p-install-label {
    font-size: .9rem;
    
    span {
        text-transform: uppercase;
        color: $primary-dark;
        font-family: $secondary-font;
        line-height: 1rem;
        font-size: 1.1rem;
    }
}

.p-ins-slider-op {
    position: absolute;

    .p-install-illustration {
        width: 230px;
        height: 230px;
        overflow: hidden;
        border-radius: 50%;
        -webkit-box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.2) !important;
        -moz-box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.2) !important;
        box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.2) !important;
        transform: translateX(-100%);
    }
    .p-slider-label {
        font-size: .85rem;
        transform: translateX(100%);
    }

    .p-install-illustration, .p-slider-label {
        opacity: 0;
        transition: opacity 0s 0.1s, transform .6s ease;
    }
}
.p-ins-slider-op.sl-relative {
    position: relative;
}
.p-ins-slider-op.p-ins-slider-active {
    position: relative;

    .p-install-illustration, .p-slider-label {
        opacity: 1;
        transition: opacity 0s 0.4s, transform .7s ease;
        transform: translateX(0);
    }
}
///////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////--BEGIN RESPONSIVE LAYOUT--////////////////////////////////////////
#reponsive-layout {
    display: block;

    @include MQ(M) {
        display: none;
    }
}

.p-home-web-view {

    @include MQ(M) {
        .map-web {
            width: 65%;
        }
        .pub-web {
            width: 35%;
        }
    }

    @include MQ(L) {
        .map-web {
            width: 75%;
        }
        .pub-web {
            width: 25%;
        }
    }
}
/////////////////////////////////////////--END RESPONSIVE LAYOUT--//////////////////////////////////////////

/////////////////////////////////////////--BEGIN OFFLINE STYLES--//////////////////////////////////////////
.offline-status {
    background-color: $primary-light !important;
    
    > div {
        font-size: .9rem;
    }
    * {
        color: $primary-dark;
    }

    &.status-float {
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 0;
    }
    &.status-float::before {
        content: '';
        position: absolute;
        top: 0;
        left: 14px;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-bottom-color: $primary-light;
        border-top: 0;
        margin-left: -8px;
        margin-top: -8px;
    }
    &.status-rel-comment::before {
        left: 12px;
    }
}

.offline-tasks {
    a {
        fa, span {
            color: $custom-control-indicator-bg !important; 
        }
    }
}

.p-unavaliable {
    width: 230px;
    height: 230px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.2) !important;
    box-shadow: 4px 4px 7px 2px rgba(0,0,0,0.2) !important;
}
/////////////////////////////////////////--END OFFLINE STYLES--//////////////////////////////////////////
