<div *ngIf="quejaDetail" class="col-12 pt-1 px-1">
  <div class="personal-queja p-shadow-card p-no-border-rad-card card mb-3 pb-0">
    <div class="px-2 card-header d-flex justify-content-center align-items-center">
      <task-list class="col-12 p-0" [queja]="quejaDetail" [isModal]="isModal"></task-list>
    </div>
    <div class="personal-usr-queja py-0 card-block d-flex justify-content-end align-items-center">
      {{ quejaDetail.user.person.name }} {{ quejaDetail.user.person.last_name }}
      <profile-link [userProfile]="quejaDetail.user" [isCommentProfile]="false" [profileClass]="'ml-2 my-0'"></profile-link>
    </div>
    <div class="personal-content relative-background">
      <owl-carousel id="corousel-detail-q" class="personal-owl-nav" [options]="carouselOptions" [carouselClasses]="['owl-theme']">
        <ng-container *ngFor="let med of quejaDetail.media">
          <ng-container *ngIf="med.format == 'IG'">
            <a href="#" (click)="viewImg($event)" class="card-img-top">
              <img src="{{med.url}}" width="100%" class="mb-1">
            </a>
          </ng-container>
        </ng-container>
      </owl-carousel>
    </div>
    <div class="relative-background card-block text-justify pb-4">
      {{ quejaDetail.detail }}
      <a href="#" (click)="viewComments($event)" class="p-float-link down-right-corner p-dark-text-color">
        <small>Ver comentarios</small>
      </a>
    </div>

    <ul class="list-group list-group-flush pb-0">
      <li class="list-group-item">
        <fa name="calendar" class="mr-1"></fa>
        <div class="ml-1">{{ quejaDetail.coolDate }}</div>
      </li>
      <li class="list-group-item">
        <fa name="bullhorn" class="mr-1"></fa>
        <div class="ml-1">{{ quejaDetail.type.description }}</div>
      </li>
      <li class="list-group-item">
        <fa name="map-marker" class="mr-1"></fa>
        <div class="ml-1">{{ quejaDetail.location }}</div>
      </li>
      <li class="list-group-item">
        <fa name="location-arrow" class="mr-1"></fa>
        <div class="ml-1">{{ quejaDetail.address }}</div>
      </li>
    </ul>

    <div class="card-block p-0">
      <div #mapRef></div>
    </div>
  </div>
</div>

<unavaliable *ngIf="isUnavaliable"></unavaliable>

<material-btn-list *ngIf="isModal" [showClass]="showClass" [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>