<div class="col-12 py-0 px-1">
  <div *ngIf="quejaDetail" class="personal-queja card mb-3 pb-0">
    <div class="card-header d-flex justify-content-between align-items-center">
      <task-list [queja]="quejaDetail"></task-list>
      <div>
        <small>{{quejaDetail.date_pub}}</small>
      </div>
    </div>
    <div class="personal-usr-queja py-0 card-block d-flex justify-content-end align-items-center">
      {{quejaDetail.user.person.name}} {{quejaDetail.user.person.last_name}} 
      <div class="ml-2 my-0 personal-profile-img" [style.background-image]="_domSanitizer.bypassSecurityTrustStyle('url(' + quejaDetail.user.profileImg + ')')">
      </div>
    </div>
    <div class="card-img-top">
      <owl-carousel id="corousel-detail-q" class="personal-owl-carousel personal-owl-nav" [options]="carouselOptions" [carouselClasses]="['owl-theme']">
        <img *ngFor="let med of quejaDetail.media" class="mb-1" src="{{med.url}}" width="100%">
      </owl-carousel>
    </div>
    <div class="card-block text-justify">
      {{quejaDetail.detail}}
    </div>
  </div>
</div>

<material-btn-list [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>