<div class="personal-content personal-over-unset min-height-full max-height-full col-12 p-0" id="personal-edit-p">
  <div class="personal-content min-height-full max-height-full p-overflow-auto">
    <form #formUser class="pb-0 min-height-full card" id="frmU" (ngSubmit)="editProfile()">
      <div id="loading-content"></div>
      <div class="card-header d-flex justify-content-between align-items-center">
        Datos Perfil
      </div>
      <div class="card-img-top d-flex flex-wrap justify-content-center align-items-center">
        <img class="mb-1" id="defaultQuejaImg"  width="100%">
      </div>
    </form>
  </div>
</div>