<div class="p-signup card light-background {{ loadingClass }}">
  <div class="loading-content {{ activeClass }}"></div>
  <div class="card-header d-flex justify-content-between align-items-center">
    Registro de Usuario
  </div>

  <div class="card-img-top d-flex justify-content-center align-items-center">
    <img width="100%" class="p-img-pop mb-1">
  </div>

  <user-form [actionType]="actionType" (closeModal)="childAfterSubmit($event)"></user-form>
</div>

<material-btn-list [showClass]='showClass' [materialBtns]="materialButtons" (someBtnAction)="actionBtn($event)"></material-btn-list>