<form [formGroup]="formPub" class="p-no-border-rad-card p-border-none card p-0" id="frmQ" (ngSubmit)="sendPub()">

  <ul class="list-group list-group-flush pb-0">

    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="row">
        <fa name="calendar" class="col-1"></fa>
        <div class="col-11 f-child-no-auto">
          <strong>Fecha: </strong> {{ _localDate }}
        </div>
      </div>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="row w-100">
        <fa name="map-marker" class="col-1"></fa>
        <div class="col-11 f-child-no-auto">
          <strong>Ciudad: </strong> {{ _locationCity }}
        </div>
      </div>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="row w-100">
        <fa name="location-arrow" class="col-1"></fa>
        <div class="col-11 f-child-no-auto">
          <strong>Calle: </strong> {{ _locationAddress }}
        </div>
      </div>
      <button type="button" id="hidden-btn" style="display:none">
        <fa name="check"></fa>
      </button>
    </li>

    <li *ngIf="!eersaLocClient" class="list-group-item d-flex justify-content-between align-items-start pt-2 pb-0">
      <div class="row w-100">
        <fa name="bullhorn" class="col-1"></fa>

        <div class="col-11 f-child-no-auto">
          <strong>Tipo:</strong>
        </div>

        <div class="ml-3 col-12 form-group row pb-0">
          <div class="col-12">
            <app-select2-bootstrap [fcName]="'quejaType'" [select2Data]="tipoQuejaSelect" (select2Change)="getSelect2Value($event)"></app-select2-bootstrap>
          </div>
        </div>
      </div>
    </li>

    <li *ngIf="eersaLocClient" class="list-group-item d-flex justify-content-between align-items-start pt-2 pb-0">
      <div class="row w-100">
        <fa name="bullhorn" class="col-1"></fa>

        <div class="col-11 f-child-no-auto">
          <strong>Tipo:</strong>
        </div>

        <div class="ml-3 col-12 form-group row pb-0">
          <div class="col-12">
            <app-select2-bootstrap [fcName]="'claimType'" [select2Data]="claimTypeSelect" (select2Change)="getTypeSelect($event)"></app-select2-bootstrap>
          </div>
        </div>
      </div>
    </li>

    <li class="list-group-item pb-0">
      <div class="form-group row col-12 pb-0">
        <div class="col-10 pb-0">
          <textarea name="detail" formControlName="fcnDetail" (keyup)="onDetailChange($event)" class="form-control pb-0"
            cols="30" rows="5" required placeholder="{{ eersaLocClient ? 'Detalle su reclamo' : 'Detalle su publicación'}}"></textarea>
        </div>
      </div>
    </li>
  </ul>
</form>