<a #btnRef (click)="requestAction($event)" class="relative-background custom-btn p-0 my-1 btn btn-outline-info {{buttonMeta.class}}"
  [ngClass]="{
  'custom-btn-light': buttonMeta.appearance == btnAppearance.light,
  'custom-btn-normal': buttonMeta.appearance == btnAppearance.normal,
  'custom-btn-dark': buttonMeta.appearance == btnAppearance.dark,
  'custom-btn-sec': buttonMeta.appearance == btnAppearance.secondary
}">
  <fa *ngIf="!buttonMeta.customIcon" name="{{buttonMeta.icon}}"></fa>
  <span *ngIf="buttonMeta.btnNews > 0" class="news-number news-material-btn">{{ buttonMeta.btnNews }}</span>
  <span *ngIf="buttonMeta.customIcon" class="personal-site-icon">{{ buttonMeta.icon }}</span>
</a>