<div class="d-flex flex-row justify-content-between align-items-start" [ngClass]="{'pl-3': isReply}">
  <div [ngClass]="{
    'personal-profile-img': !isReply,
    'pers-profile-img-comen': isReply
  }" [style.background-image]="_domSanitizer.bypassSecurityTrustStyle('url(' + commentModel.user.profileImg + ')')"></div>
  <span class="f-child-no-auto text-justify d-flex flex-column" [ngClass]="{
    'pl-3': !isReply,
    'pl-4': isReply
  }">
    <div class="col-12 p-0 d-flex justify-content-between align-items-center">
      <strong>{{commentModel.user.person.name}}</strong>
      <a href="#">
        <small class="p-dark-text-color">2 personas apoyan esto</small>
      </a>
    </div>
    <div>
      {{ commentModel.description }}
    </div>
    <div class="col-12 p-0 mt-2 d-flex justify-content-between align-items-end">
      <div class="d-flex justify-content-start">
        <a href="#" class="no-border-button secondary small" title="Apoyo">
          <fa name="star"></fa>
        </a>
        <a *ngIf="!isReply && !noReplyBtn && hideBtn === false" href="#" (click)="viewReplies($event)" class="no-border-button secondary small"
          title="Ver respuestas">
          <span class="personal-site-icon">v</span>
        </a>
      </div>
      <small>{{ commentModel.coolDate }}</small>
    </div>
  </span>
</div>