<div class="relative-background personal-content personal-over-unset min-height-full-modal col-12 p-0">
  <app-webrtc-camera [startCamera]="false" [streamOwnerId]="streamOwnerId" [pubId]="pubId"></app-webrtc-camera>

  <owl-carousel *ngIf="!streamOwnerId" id="corousel-live-op" class="personal-owl-nav" [options]="carouselOptions" [carouselClasses]="['owl-theme']">
    <div class="d-flex justify-content-center align-items-center min-height-full-modal">
      <a href="#" class="p-transparent-btn ml-3" (click)="sendCameraAction($event, cameraActions.init_transmision)">
        <span class="personal-site-icon">g</span>
      </a>
    </div>

    <div class="d-flex justify-content-center align-items-center min-height-full-modal">
      <a href="#" class="p-transparent-btn ml-3" (click)="sendCameraAction($event, cameraActions.pause_transmision)">
        <span class="personal-site-icon">h</span>
      </a>
    </div>

    <div class="d-flex justify-content-center align-items-center min-height-full-modal">
      <a href="#" class="p-transparent-btn ml-3" (click)="sendCameraAction($event, cameraActions.stop_transmision)">
        <span class="personal-site-icon">i</span>
      </a>
    </div>

    <div class="d-flex justify-content-center align-items-center min-height-full-modal">
      <a href="#" class="p-transparent-btn ml-3" (click)="sendCameraAction($event, cameraActions.change_camera)">
        <span class="personal-site-icon">k</span>
      </a>
    </div>
  </owl-carousel>
</div>

<material-btn-list [showClass]="showClass" [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>