<section class="personal-content personal-fadeout min-height-full-modal p-overflow-hidden py-0 d-flex flex-column justify-content-center align-items-center"
  id="unavaliableContent">
  <div class="p-install-label p-normal-text-color pb-5 px-4 text-center">
    El contenido solicitado ya no se encuentra disponible en <span>Lukask</span>, lamentamos los inconvenientes
    ocasionados
  </div>

  <div class="p-unavaliable d-flex justify-content-center align-items-center">
    <img [src]="img" width="100%">
  </div>
</section>