
<div class="col-12 py-0 px-1">
  <div class="personal-queja card mb-3 pb-0">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-center align-items-center">
        <a href="#" class="ml-1 btn btn-sm btn-outline-info personal-icon-btn" title="Apoyo">
          <fa name="star"></fa>
        </a>
        <a href="#" class="ml-1 btn btn-sm btn-outline-info personal-icon-btn" title="Comentar">
          <fa name="pencil"></fa>
        </a>
        <a href="#" class="ml-1 btn btn-sm btn-outline-info personal-icon-btn" title="Localizar">
          <fa name="map-marker"></fa>
        </a>
        <a href="#" class="ml-1 btn btn-sm btn-outline-info personal-icon-btn" title="Denunciar">
          <fa name="ban"></fa>
        </a>
      </div>
      <div>
        <small>{{queja.date_pub}}</small>
      </div>
    </div>
    <div class="personal-usr-queja py-0 card-block d-flex justify-content-end align-items-center">
      {{queja.user.username}}
      <div class="ml-2 my-0 personal-profile-img" [style.background-image]="_domSanitizer.bypassSecurityTrustStyle('url(' + queja.user.profileImg + ')')">
      </div>
    </div>
    <a href="#" (click)="viewQuejaDetail($event, queja.id_publication)">
      <div class="card-img-top d-flex flex-wrap justify-content-center align-items-center">
        <span *ngIf="queja.media.length > 3">
          <fa name="ellipsis-h"></fa>
        </span>

        <ng-container *ngFor="let med of queja.media; let i = index">

          <ng-container *ngIf="queja.media.length == 2">
            <img [ngClass]="{'mr-1': i % 2 == 0}" class="mb-1" src="{{med.url}}" width="48%">
          </ng-container>

          <ng-container *ngIf="queja.media.length == 1 || queja.media.length > 2">
            <img *ngIf="i == 0" class="mb-1" src="{{med.url}}" width="100%">
            <img *ngIf="i >= 1 && i <= 2" [ngClass]="{'mr-1': i % 2 != 0}" class="mb-1" src="{{med.url}}" width="48%">
          </ng-container>

        </ng-container>
      </div>
      <div class="card-block text-justify">
        {{queja.detail}}
      </div>
    </a>
    <ul class="list-group list-group-flush pb-0">
      <li class="list-group-item pb-0">
        <form #frmComment="ngForm" class="d-flex justify-content-between w-100 pb-0" (ngSubmit)="publishComment()">
          <div class="pers-profile-img-comen" [style.background-image]="_domSanitizer.bypassSecurityTrustStyle('url(' + queja.user.profileImg + ')')"></div>

          <div class="f-child-no-auto form-group pl-1 pb-0 mb-0" [ngClass]="{ 'has-danger': description.touched && restChars < 0 }">
            <textarea name="description" #description="ngModel" [(ngModel)]="newComment.description" class="p-border-none form-control form-control-danger"
              cols="30" rows="3" placeholder="Escribe un comentario..." (keyup)="validateLettersNumber($event)"></textarea>
            <small class="pb-0 form-control-feedback">{{restChars}} caracteres restantes.</small>
          </div>
          <div class="pl-1 pt-1">
            <button type="submit" [disabled]="restChars == maxChars || restChars < 0" class="btn btn-sm btn-outline-info personal-icon-btn"
              title="Comentar">
              <fa name="send"></fa>
            </button>
          </div>

        </form>
      </li>
      <li *ngFor="let comment of commentList" class="list-group-item">
        <comment [commentModel]="comment"></comment>
      </li>
    </ul>
  </div>
</div>