<div class="col-12 py-0 px-1">

  <div class="personal-queja p-shadow-card p-no-border-rad-card card mb-3 pb-0">
    <div *ngIf="queja.isOffline" class="offline-status p-no-border-rad-card p-border-none card flex-row justify-content-between align-items-center pl-3 pr-2 py-2">
      <div>
        <fa name="spinner" animation="pulse"></fa>&nbsp;&nbsp;Esperando conexión
      </div>
      <a href="#" (click)="cancelPub($event)" class="no-border-button secondary ml-1" title="Cancel">
        <fa name="close"></fa>
      </a>
    </div>

    <div class="px-2 card-header d-flex justify-content-center align-items-center">
      <task-list class="col-12 p-0" [queja]="queja" (actionType)="optionButtonAction($event)"></task-list>
    </div>

    <div class="personal-usr-queja py-0 card-block d-flex justify-content-end align-items-center">
      <div class="p-secondary-text-color d-flex flex-column justify-content-center align-items-end">
        {{queja.user.person.name}} {{queja.user.person.last_name}}
        <small>{{queja.coolDate}}</small>
      </div>
      <profile-link [userProfile]="queja.user" [isCommentProfile]="false" [profileClass]="'ml-2 my-0'"></profile-link>
    </div>
    <a href="#" (click)="viewQuejaDetail($event)">
      <div class="card-img-top d-flex flex-wrap justify-content-center align-items-center">
        <span *ngIf="mediosImg.length > 3">
          <fa name="ellipsis-h"></fa>
        </span>

        <ng-container *ngFor="let med of mediosImg; let i = index">

          <ng-container *ngIf="med.format == 'IG' && mediosImg.length == 2">
            <img [ngClass]="{'mr-1': i % 2 == 0}" class="mb-1 half" [src]="_domSanitizer.bypassSecurityTrustUrl(med.url)"
              width="48%">
          </ng-container>

          <ng-container *ngIf="med.format == 'IG' && mediosImg.length == 1 || mediosImg.length > 2">
            <img *ngIf="i == 0" class="mb-1 full" [src]="_domSanitizer.bypassSecurityTrustUrl(med.url)" width="100%">
            <img *ngIf="i >= 1 && i <= 2" [ngClass]="{'mr-1': i % 2 != 0}" class="mb-1 half" [src]="_domSanitizer.bypassSecurityTrustUrl(med.url)"
              width="48%">
          </ng-container>

        </ng-container>
      </div>
      <div class="card-block text-justify">
        {{queja.detail}}
      </div>
    </a>
    <comment-list *ngIf="!queja.isOffline" [pubId]="queja.id_publication" [hideBtn]="queja.isTrans == true && queja.transDone == false"
      (askForMore)="askForMore($event)" (cancelCom)="onCancelComment($event)" (changeComOffRelev)="changeComOffRelevance($event)"></comment-list>
  </div>
</div>