<div class="personal-content personal-over-unset min-height-full max-height-full col-12 p-0" id="personal-edit-q">
  <div class="personal-content min-height-full max-height-full p-overflow-auto">
    <form>
      <div id="loading-content"></div>

      <div class="card-header d-flex justify-content-between align-items-center">
        Pagos Servicios
      </div>
      <div class="card-img-top d-flex flex-wrap justify-content-center align-items-center">
        <img class="mb-1" id="PagosImg" src="/assets/images/payments/paglinea.png" width="100%" height="35%">
      </div>
      <ul class="list-group list-group-flush ">
        <li class="list-group-item">
          <i class="fa fa-id-card" aria-hidden="true"></i>
          <small class="ml-1">Ingrese Cédula : </small>
          <input type="text" name="cedula" class="form-control  " maxlength="11" required />
          <br>
          <br>
          <a style="float: right;" (click)="openLayer($event)" ng-model="mMostrarDiv" class="ml-1 btn btn-outline-info">
            <fa name="search"></fa>
          </a>
        </li>
      </ul>
    </form>
    <br>

    <div id="divpagos" class="col-12 py-0 px-1" style="display: none;">
      <div class="personal-pagos p-shadow-card p-no-border-rad-card card mb-3 pb-0">
        <div class="card-header d-flex justify-content-between align-items-center">
          <app-pagos-datos *ngFor="let pagos of pagos" [pagos]="pagos"></app-pagos-datos>
          </div>
      </div>
    </div>

  </div>
</div>



<material-btn-list [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>
