<form #formLocation class="p-select2-container p-no-border-rad-card p-shadow-card card mt-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    Datos de Ubicación
  </div>

  <ul class="list-group list-group-flush pb-0">

    <li class="list-group-item d-flex justify-content-between align-items-start pt-2 pb-0">
      <div class="row w-100">
        <fa name="map-marker" class="col-1"></fa>

        <div class="col-11 f-child-no-auto">
          <strong>Cantón:</strong>
        </div>

        <div class="ml-3 col-12 form-group pb-0 pr-0">
          <div class="col-12 pr-0">
            <app-select2-bootstrap [fcName]="'canton'" [select2Data]="cantonSelect" (select2Change)="getCantonSelect($event)"></app-select2-bootstrap>
          </div>
        </div>
      </div>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-start pt-2 pb-0">
      <div class="row w-100">
        <fa name="map-marker" class="col-1"></fa>

        <div class="col-11 f-child-no-auto">
          <strong>Parroquia:</strong>
        </div>

        <div class="ml-3 col-12 form-group pb-0 pr-0">
          <div class="col-12 pr-0">
            <app-select2-bootstrap [fcName]="'parroquia'" [select2Data]="parroquiaSelect" (select2Change)="getParroquiaSelect($event)"></app-select2-bootstrap>
          </div>
        </div>
      </div>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-start pt-2 pb-0">
      <div class="row w-100">
        <fa name="map-marker" class="col-1"></fa>

        <div class="col-11 f-child-no-auto">
          <strong>Barrio:</strong>
        </div>

        <div class="ml-3 col-12 form-group pb-0 pr-0">
          <div class="col-12 pr-0">
            <app-select2-bootstrap [fcName]="'barrio'" [select2Data]="barrioSelect" (select2Change)="getbarrioSelect($event)"></app-select2-bootstrap>
          </div>
        </div>
      </div>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-start pt-2 pb-0">
        <div class="row">
          <fa name="home" class="icon-xs col-1"></fa>
  
          <div class="col-11 f-child-no-auto">
            <strong>Dirección:</strong>
          </div>
  
          <div class="ml-2 col-12 form-group row pb-0" [ngClass]="{ 'has-danger': !address.valid && address.touched }">
            <div class="col-12">
              <input type="text" name="address" #address="ngModel" [(ngModel)]="userObj.person.address" class="form-control py-0"
                required placeholder="Dirección" />
              <small *ngIf="address.touched && !address.valid" class="form-control-feedback absolute-layer p-index-1">
                Por favor ingrese la dirección
              </small>
            </div>
          </div>
        </div>
      </li>

    <li class="list-group-item d-flex justify-content-between align-items-start pt-2 pb-0">
      <div class="row">
        <fa name="home" class="icon-xs col-1"></fa>

        <div class="col-11 f-child-no-auto">
          <strong>Referencia:</strong>
        </div>

        <div class="ml-2 col-12 form-group row pb-2" [ngClass]="{ 'has-danger': !reference.valid && reference.touched }">
          <div class="col-12">
            <textarea name="reference" #reference="ngModel" [(ngModel)]="eersaLocation.referencia" class="form-control py-0"
              cols="20" rows="5" required placeholder="Indique alguna referencia de su ubicación"></textarea>
            <small *ngIf="reference.touched && !reference.valid" class="form-control-feedback absolute-layer p-index-1">
              Por favor ingrese una referencia
            </small>
          </div>
        </div>
      </div>
    </li>

  </ul>
</form>