@font-face {
  font-family: "lukask-font";
  src: url("../fonts/untitled-font-1.eot");
  src: url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"), url("../fonts/untitled-font-1.woff") format("woff"), url("../fonts/untitled-font-1.ttf") format("truetype"), url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 15px; }

body {
  font-family: "Barlow", sans-serif !important;
  background-color: #fff;
  background: #222 !important;
  overflow: hidden; }

a {
  text-decoration: none !important; }

img {
  max-width: 100%; }

.primary-font {
  font-family: "Barlow", sans-serif; }

.second-font {
  font-family: "Barlow Condensed", sans-serif; }

.personal-isologo {
  background-image: url("/assets/images/logo/logo-1.svg");
  height: 200px; }
  @media only screen and (min-width: 376px) {
    .personal-isologo {
      height: 230px; } }
  @media only screen and (min-width: 768px) {
    .personal-isologo {
      height: 290px; } }
  @media only screen and (min-width: 992px) {
    .personal-isologo {
      height: 350px; } }

.personal-logo {
  background-image: url("/assets/images/logo/logo-2.svg");
  height: 80px; }
  @media only screen and (min-width: 376px) {
    .personal-logo {
      height: 90px; } }
  @media only screen and (min-width: 768px) {
    .personal-logo {
      height: 110px; } }
  @media only screen and (min-width: 992px) {
    .personal-logo {
      height: 130px; } }

.lukask-logo {
  position: absolute;
  left: 9px;
  background-image: url("/assets/images/logo/logo-1.svg");
  width: 45px;
  height: 45px; }

.personal-logo, .personal-isologo {
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%; }

.position-fixed {
  position: fixed;
  top: 0 !important;
  left: 25px;
  width: 130px;
  z-index: 999992;
  transform: translateX(-150%);
  display: none; }
  @media only screen and (min-width: 768px) {
    .position-fixed {
      display: inherit; } }
  @media only screen and (min-width: 992px) {
    .position-fixed {
      left: 40px; } }
  @media only screen and (min-width: 1200px) {
    .position-fixed {
      left: 42px; } }

.position-fixed:hover {
  cursor: pointer; }

.position-fixed.on {
  transform: translateX(0);
  transition: transform .5s ease; }

.personal-content {
  background: #fff;
  overflow: hidden;
  width: 100%; }

h1.personal-content-title {
  width: 100%;
  color: #848b76;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 340;
  padding-top: 1rem;
  padding-bottom: .5rem;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0s 0.1s, transform .6s ease; }
  @media only screen and (min-width: 576px) {
    h1.personal-content-title {
      text-align: justify; } }

h1.left-to-right {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0s 0.4s, transform .7s ease; }

h4.personal-subtitle {
  color: #848b76;
  font-weight: 350;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 0s .1s, transform .4s ease; }

h4.no-animate {
  transform: translateY(0);
  opacity: 1; }

h4.show-in {
  transform: translateY(0);
  opacity: 1;
  transition: opacity 0s 0.2s, transform .5s ease; }

h4.header-message {
  font-style: italic;
  font-weight: 300;
  font-size: 1.1rem; }
  @media only screen and (min-width: 576px) {
    h4.header-message {
      font-size: 1.2rem; } }
  @media only screen and (min-width: 768px) {
    h4.header-message {
      font-size: 1.3rem; } }
  @media only screen and (min-width: 992px) {
    h4.header-message {
      font-size: 1.4rem; } }
  @media only screen and (min-width: 1200px) {
    h4.header-message {
      font-size: 1.6rem; } }

h4.personal-feature {
  font-weight: 300;
  font-size: .9rem; }
  @media only screen and (min-width: 768px) {
    h4.personal-feature {
      font-size: 1rem; } }
  @media only screen and (min-width: 992px) {
    h4.personal-feature {
      font-size: 1.1rem; } }

p, label, div {
  color: #848b76; }

.personal-fadeout {
  opacity: .2;
  transition: opacity .5s ease; }

.personal-fadein {
  opacity: 1;
  transition: opacity .75s ease; }

#loading-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/images/forms/preloader.gif") center center no-repeat;
  opacity: 0;
  z-index: -1;
  transition: opacity .8s ease, z-index .6s ease; }

#loading-content.active {
  opacity: .8;
  z-index: 1;
  transition: opacity .5s ease, z-index .2s ease; }

.bottom-loader {
  position: absolute !important;
  left: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0s 0.4s, transform 1s ease; }

.bottom-loader.hide {
  z-index: -1; }

.bottom-loader.on {
  position: absolute !important;
  bottom: 0;
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
  transition: opacity 0s 0.2s, transform .8s ease; }

.op-active, .op-active a {
  pointer-events: none;
  cursor: default; }

@-webkit-keyframes cd-bounce-in {
  0% {
    -webkit-transform: scale(0); }
  60% {
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes cd-bounce-in {
  0% {
    -moz-transform: scale(0); }
  60% {
    -moz-transform: scale(1.2); }
  100% {
    -moz-transform: scale(1); } }
@keyframes cd-bounce-in {
  0% {
    transform: scale(0); }
  60% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
.min-height-full {
  min-height: 100vh !important; }

.min-height-half {
  min-height: 50vh !important; }

.max-height-full {
  max-height: 100vh !important; }

.max-height-half {
  max-height: 50vh !important; }

.max-height-fourth {
  max-height: 40vh !important; }

.max-height-third {
  max-height: 30vh !important; }

.p-overflow-auto {
  overflow-y: auto;
  overflow-x: hidden; }

.personal-site-icon {
  font-family: "riotelecomec" !important;
  font-size: 4.5rem;
  color: #5dbeb6;
  transition: color .3s ease, transform .4s ease; }
  @media only screen and (min-width: 576px) {
    .personal-site-icon {
      font-size: 4.8rem; } }
  @media only screen and (min-width: 768px) {
    .personal-site-icon {
      font-size: 5.3rem; } }
  @media only screen and (min-width: 992px) {
    .personal-site-icon {
      font-size: 5.6rem; } }

.icon-size-5 {
  font-size: 5rem; }
  @media only screen and (min-width: 576px) {
    .icon-size-5 {
      font-size: 5.3rem; } }
  @media only screen and (min-width: 768px) {
    .icon-size-5 {
      font-size: 5.6rem; } }
  @media only screen and (min-width: 992px) {
    .icon-size-5 {
      font-size: 5.9rem; } }

.icon-size-6 {
  font-size: 6rem; }
  @media only screen and (min-width: 576px) {
    .icon-size-6 {
      font-size: 6.3rem; } }
  @media only screen and (min-width: 768px) {
    .icon-size-6 {
      font-size: 6.6rem; } }
  @media only screen and (min-width: 992px) {
    .icon-size-6 {
      font-size: 6.9rem; } }

/*OWL CAROUSEL WITH NAV BUTTONS CUSTOMIZED*/
.personal-owl-nav {
  display: unset !important; }
  .personal-owl-nav .owl-nav {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 3;
    color: #fff; }
    .personal-owl-nav .owl-nav button {
      outline: none;
      border-radius: 50% !important;
      width: 30px;
      height: 30px;
      background: rgba(255, 255, 255, 0.7) !important;
      transition: all .5s !important; }
      .personal-owl-nav .owl-nav button i {
        vertical-align: middle;
        font-size: 1.2rem;
        color: #004360; }
    .personal-owl-nav .owl-nav button:first-child i {
      margin-right: 2px; }
    .personal-owl-nav .owl-nav button:last-child i {
      margin-left: 2px; }
    .personal-owl-nav .owl-nav button:hover {
      opacity: .7; }

.personal-ul, .personal-ul li {
  list-style: disc; }

/*GENERIC ANIMATIONS*/
.generic-left-to-right {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0s 0.3s, transform .5s ease; }

.generic-left-to-right.invert {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0s 0.3s, transform .5s ease; }
  @media only screen and (min-width: 992px) {
    .generic-left-to-right.invert {
      transform: translateX(-100%); } }

.generic-left-to-right.animate {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0s 0.4s, transform .7s ease; }

.generic-down-to-up {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0s 0.3s, transform .5s ease; }

.generic-down-to-up.animate {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0s 0.2s, transform .7s ease; }

/**************************************************************/
.f-child-full-space {
  flex: 1 0 auto; }

.f-child-no-auto {
  flex: 1 0; }

.f-child-order-0 {
  order: 0; }

.f-child-order-1 {
  order: 1; }

.f-child-order-2 {
  order: 2; }

.dark-crystal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all .5s ease; }

.personal-img-header {
  background-color: #aaa;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important; }

.secondary-color {
  color: #fff; }

.header-title {
  position: relative;
  z-index: 2; }

.portada-fixed {
  position: absolute;
  background: #222;
  z-index: 9999999998;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity .5s ease; }

.portada-fixed.fade {
  opacity: 0;
  transition: opacity .75s ease; }

.portada-fixed.hide {
  z-index: -1; }

#personal-portada {
  position: absolute;
  z-index: 9999999999;
  transform: translateY(0);
  transition: transform 1.2s ease; }
  #personal-portada .personal-init .loading-bar {
    color: #004360;
    background-color: #004360;
    width: 85%; }

#personal-portada.go-up {
  transform: translateY(-100%); }

/*******************************
///////LOGIN COMPONENT
********************************/
/*******************************
///////MAIN NAV
********************************/
#menu-nav {
  z-index: 9999999;
  right: 1rem;
  bottom: 0.5rem;
  text-indent: 100%;
  white-space: nowrap;
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
  transition: bottom .3s ease; }

.menu-nav-onfooter {
  bottom: 0.12rem !important; }
  @media only screen and (min-width: 576px) {
    .menu-nav-onfooter {
      bottom: 0.25rem !important; } }

.personal-nav-btn {
  position: fixed;
  -webkit-box-shadow: 1px 2px 4px 2px rgba(93, 190, 182, 0.5);
  -moz-box-shadow: 1px 2px 4px 2px rgba(93, 190, 182, 0.5);
  box-shadow: 1px 2px 4px 2px rgba(93, 190, 182, 0.5);
  background: #004360; }
  .personal-nav-btn .nav-icon {
    background: #fff; }

.personal-primary-nav {
  position: fixed !important;
  right: 1rem;
  bottom: 0.5rem;
  max-width: 350px;
  width: calc(100% - 3.5rem);
  max-height: 19rem;
  z-index: 9999998;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  background: #fff; }
  .personal-primary-nav .personal-nav-header {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    position: relative; }
    .personal-primary-nav .personal-nav-header span {
      position: absolute;
      z-index: 0;
      background: #004360;
      border-radius: .25rem;
      width: 100%;
      height: calc(100% - 1px);
      transform: translateX(0);
      transition: all .5s ease; }
    .personal-primary-nav .personal-nav-header span.first-focused, .personal-primary-nav .personal-nav-header span.second-focused {
      width: 50%; }
      @media only screen and (min-width: 768px) {
        .personal-primary-nav .personal-nav-header span.first-focused, .personal-primary-nav .personal-nav-header span.second-focused {
          width: 100%; } }
    .personal-primary-nav .personal-nav-header span.second-focused {
      transform: translateX(100%); }
      @media only screen and (min-width: 768px) {
        .personal-primary-nav .personal-nav-header span.second-focused {
          transform: translateX(0); } }
    .personal-primary-nav .personal-nav-header .personal-tab {
      z-index: 1;
      flex: 1 1 auto;
      min-height: 2.6rem;
      transition: all .5s ease;
      background: transparent; }
    .personal-primary-nav .personal-nav-header .personal-tab.show-local {
      display: inherit; }
      @media only screen and (min-width: 768px) {
        .personal-primary-nav .personal-nav-header .personal-tab.show-local {
          display: none; } }
    .personal-primary-nav .personal-nav-header a {
      color: rgba(0, 67, 96, 0.9);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .5s ease; }
    .personal-primary-nav .personal-nav-header .tab-link-active a {
      color: #fff;
      transition: all .5s ease;
      pointer-events: none;
      cursor: default; }
  .personal-primary-nav .personal-nav-content {
    width: 200%;
    padding: 0;
    max-height: 13rem;
    overflow: hidden;
    display: flex; }
    .personal-primary-nav .personal-nav-content > div {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: transform .5s ease; }
      .personal-primary-nav .personal-nav-content > div ul {
        position: relative;
        margin: 0 !important;
        padding: 0 !important;
        width: 100%;
        max-height: 13rem;
        overflow-y: auto !important;
        overflow-x: hidden !important; }
        .personal-primary-nav .personal-nav-content > div ul .focus-panel {
          position: absolute;
          left: 0;
          top: 1px;
          z-index: 0;
          background: #c1e6ca;
          min-height: 2.6rem;
          width: 100%;
          transition: all .5s ease; }
        .personal-primary-nav .personal-nav-content > div ul li {
          position: relative;
          padding: 0 !important;
          min-height: 2.6rem !important;
          width: 100%;
          display: table;
          border-bottom: 1px solid rgba(0, 0, 0, 0.125);
          background: transparent;
          z-index: 1;
          transition: all .3s ease; }
          .personal-primary-nav .personal-nav-content > div ul li a {
            padding: .5rem 1rem;
            display: table-cell;
            color: #848b76;
            transition: all .5s ease; }
        .personal-primary-nav .personal-nav-content > div ul li.op-active {
          border-bottom: 1px solid transparent;
          transition: all .3s ease; }
          .personal-primary-nav .personal-nav-content > div ul li.op-active a {
            color: rgba(0, 67, 96, 0.9); }
    .personal-primary-nav .personal-nav-content > div.first-showed {
      transform: translateX(0); }
      @media only screen and (min-width: 768px) {
        .personal-primary-nav .personal-nav-content > div.first-showed {
          transform: translateX(-100%); } }
    .personal-primary-nav .personal-nav-content > div.menu-moving ul {
      overflow-y: hidden !important; }
  .personal-primary-nav .personal-nav-footer {
    padding: .5rem 0; }
  @media only screen and (min-width: 992px) {
    .personal-primary-nav {
      right: 1.1rem;
      bottom: 0.9rem; } }

.personal-primary-nav-onfooter {
  bottom: 0.12rem !important; }
  @media only screen and (min-width: 576px) {
    .personal-primary-nav-onfooter {
      bottom: 0.25rem !important; } }

.cd-nav-trigger.menu-is-open {
  box-shadow: none;
  background: transparent; }
  .cd-nav-trigger.menu-is-open .nav-icon {
    background: transparent; }
  .cd-nav-trigger.menu-is-open .nav-icon::before, .cd-nav-trigger.menu-is-open .nav-icon::after {
    background: #004360; }

.top-panel, .bot-panel {
  position: fixed;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 9999998 !important;
  background: #fff;
  transition: transform .3s ease; }

.p-home-panel {
  position: fixed;
  top: 0px;
  z-index: 2;
  height: 55px;
  width: 100%;
  background: #fff;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2) !important; }

.p-top-margin-home {
  margin-top: 55px; }

.top-panel {
  top: 0;
  transform: translateY(-110%);
  background: #fff;
  -webkit-box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.2) !important; }
  .top-panel .opcion {
    background: transparent;
    transition: all .5s ease; }
    .top-panel .opcion fa, .top-panel .opcion span {
      color: #5dbeb6;
      font-size: 1.5rem; }
  .top-panel .opcion.focused fa, .top-panel .opcion.focused span {
    color: #004360; }
  .top-panel .menu-focus {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 30%;
    border-bottom: 2px solid #004360;
    transition: all .5s ease; }

.bot-panel {
  bottom: -1px;
  transform: translateY(110%);
  -webkit-box-shadow: 2px -1px 3px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 2px -1px 3px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 2px -1px 3px rgba(0, 0, 0, 0.2) !important; }
  .bot-panel button {
    color: #5dbeb6 !important;
    border-color: #5dbeb6 !important; }

.top-panel.slide-in, .bot-panel.slide-in {
  transform: translateY(0);
  transition: transform .5s ease; }

/*************************************
///////MAP VIEW:
*************************************/
.personal-map {
  height: 100vh;
  position: relative; }

.personal-single-map {
  height: 50vh; }

.p-shadow-card {
  -webkit-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2) !important; }

.p-no-border-rad-card {
  border-radius: 0 !important; }

.personal-icon-btn {
  border-color: #5dbeb6 !important;
  color: #5dbeb6 !important;
  min-width: 2rem; }

.personal-icon-btn:hover {
  color: #fff !important;
  background: #5dbeb6 !important; }

/*
* //QUEJA
*/
.personal-profile-img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #aaa;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  flex: 0 0 auto !important; }

.profile-img-notif {
  width: 60px;
  height: 60px; }

.pers-profile-img-comen {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #aaa;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  flex: 0 0 auto !important; }

.personal-queja .personal-usr-queja {
  background: #5dbeb6;
  color: #fff;
  border-bottom: 2px solid #fff; }
.personal-queja .card-img-top {
  position: relative; }
  .personal-queja .card-img-top span {
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    text-align: center; }
    .personal-queja .card-img-top span fa {
      color: #004360;
      font-size: 1.5rem; }
  .personal-queja .card-img-top img {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    height: 180px;
    object-fit: cover; }

/*************************************
///////SECTION TO SHOW ALERTS:
*************************************/
.alert-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .4s; }
  .alert-container .personal-alert {
    position: relative;
    margin: 0 auto;
    opacity: 0;
    max-width: 400px;
    background: #fff !important;
    transform: translateY(-100%);
    transition: opacity 0s .4s, transform .7s ease; }
    .alert-container .personal-alert .alert-close {
      position: absolute;
      top: 7px;
      right: 10px;
      transition: color .3s ease; }
      .alert-container .personal-alert .alert-close fa {
        font-size: .7rem; }
    .alert-container .personal-alert .alert-close:hover {
      opacity: .4; }
    .alert-container .personal-alert .alert-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
      .alert-container .personal-alert .alert-icon fa {
        font-size: 1.55rem; }
        @media only screen and (min-width: 376px) {
          .alert-container .personal-alert .alert-icon fa {
            font-size: 1.65rem; } }
      .alert-container .personal-alert .alert-icon fa.animate {
        animation: cd-bounce-in 0.4s linear; }
      @media only screen and (min-width: 768px) {
        .alert-container .personal-alert .alert-icon {
          border-bottom: none;
          border-right: 1px solid rgba(0, 0, 0, 0.125);
          max-width: 200px; } }
    @media only screen and (min-width: 376px) {
      .alert-container .personal-alert {
        max-width: 320px; } }
    @media only screen and (min-width: 768px) {
      .alert-container .personal-alert {
        max-width: 500px; } }
  .alert-container .personal-alert.on {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0s .3s, transform .5s ease; }
  .alert-container .personal-success {
    border-color: rgba(26, 188, 156, 0.8) !important; }
    .alert-container .personal-success div {
      color: #1abc9c !important; }
    .alert-container .personal-success .alert-icon {
      border-bottom-color: rgba(26, 188, 156, 0.8);
      border-right-color: rgba(26, 188, 156, 0.8); }
    .alert-container .personal-success .alert-close {
      color: rgba(26, 188, 156, 0.8) !important; }
  .alert-container .personal-info {
    border-color: rgba(52, 180, 219, 0.5); }
    .alert-container .personal-info div {
      color: #34b4db !important; }
    .alert-container .personal-info .alert-icon {
      border-bottom-color: rgba(52, 180, 219, 0.5);
      border-right-color: rgba(52, 180, 219, 0.5); }
    .alert-container .personal-info .alert-close {
      color: rgba(52, 180, 219, 0.5) !important; }
  .alert-container .personal-warning {
    border-color: rgba(240, 189, 80, 0.5); }
    .alert-container .personal-warning div {
      color: #f0bd50 !important; }
    .alert-container .personal-warning .alert-icon {
      border-bottom-color: rgba(240, 189, 80, 0.5);
      border-right-color: rgba(240, 189, 80, 0.5); }
    .alert-container .personal-warning .alert-close {
      color: rgba(240, 189, 80, 0.5) !important; }
  .alert-container .personal-danger {
    border-color: rgba(229, 47, 98, 0.5); }
    .alert-container .personal-danger div {
      color: #E52F62 !important; }
    .alert-container .personal-danger .alert-icon {
      border-bottom-color: rgba(229, 47, 98, 0.5);
      border-right-color: rgba(229, 47, 98, 0.5); }
    .alert-container .personal-danger .alert-close {
      color: rgba(229, 47, 98, 0.5) !important; }

.alert-container.active {
  opacity: 1;
  transition: opacity .2s; }

/*************************************
///////DYNAMIC CONTENT:
*************************************/
.personal-dyna-cont {
  position: absolute !important;
  left: 0;
  top: 100%;
  /*width: 100%;
  height: 100%;*/
  z-index: 10000000000000000;
  transition: all .3s ease; }

.show-dyna-cont {
  top: 0;
  transition: all .5s ease; }

.personal-dyna-down {
  position: fixed !important;
  left: 0;
  bottom: -100%;
  transition: all .3s ease; }

.personal-dyna-down.show {
  bottom: 0;
  transition: all .5s ease; }

.fixed-background {
  position: fixed;
  background: #252323;
  z-index: 10000000000;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300vh;
  opacity: 0;
  transition: all .3s ease; }

.fixed-background.on {
  opacity: .9;
  transition: opacity .5s ease; }

.opacity-light.on {
  opacity: .7; }

.personal-over-unset {
  overflow: unset; }

.absolute-background {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300vh; }

.relative-background {
  position: relative; }

/*************************************
///////PERSONAL EDIT-QUEJA:
*************************************/
#carousel-edit-q .owl-item:first-child {
  z-index: 1; }

#frmQ .card-img-top {
  position: relative; }
  #frmQ .card-img-top img {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 3px;
    object-fit: cover; }
#frmQ .list-group fa {
  padding-right: 5px; }

/*************************************
///////PERSONAL NEW MEDIA:
*************************************/
.personal-new-media-pan {
  position: absolute !important;
  top: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important; }
  .personal-new-media-pan .card-block {
    border: none !important; }

.default-back {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-image: url("/assets/images/edit-queja/window.jpg"); }

.personal-site-icon {
  font-family: "lukask-font" !important;
  color: #fff;
  font-size: 1.1rem; }

.select2-container {
  z-index: 99999999999;
  width: 100% !important; }

.select2-container--open {
  width: unset !important; }

.p-transparent-btn {
  border-radius: 50% !important;
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.3) !important;
  border: solid 1px rgba(255, 255, 255, 0.8) !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0px !important; }
  .p-transparent-btn fa, .p-transparent-btn span {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.8) !important; }

.p-transparent-btn.sm {
  width: 40px;
  height: 40px; }
  .p-transparent-btn.sm fa, .p-transparent-btn.sm span {
    font-size: 20px; }

.p-transparent-btn.xs {
  width: 30px;
  height: 30px; }
  .p-transparent-btn.xs fa, .p-transparent-btn.xs span {
    font-size: 1.1rem !important; }

.p-float-btn, .p-float-link {
  position: absolute;
  z-index: 1; }

.top-left-corner {
  top: 5px;
  left: 5px; }

.top-right-corner {
  top: 5px;
  right: 10px; }

.down-right-corner {
  bottom: 3px;
  right: 20px; }

.personal-material-btn {
  position: fixed;
  z-index: 100000000000000;
  right: 12px;
  bottom: -100%;
  transition: all .3s ease; }

.personal-material-btn.no-modal {
  z-index: 1000000000; }

.personal-material-btn.show {
  bottom: 3px;
  transition: all .5s ease; }

.custom-btn {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-color: #5dbeb6 !important;
  width: 35px;
  height: 35px;
  border-radius: 50% !important;
  background: #5dbeb6 !important;
  -webkit-box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2) !important; }
  .custom-btn fa, .custom-btn span {
    color: #fff !important; }

.p-sec-btn {
  background: #004360 !important;
  border-color: #004360 !important; }

.custom-panel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: solid 1px #fff;
  background: #fff;
  -webkit-box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2) !important;
  box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.2) !important; }
  .custom-panel-btn fa, .custom-panel-btn span {
    margin-left: 1px;
    color: #5dbeb6; }

.custom-panel-btn:hover {
  border: solid 1px #5dbeb6;
  background: #5dbeb6; }
  .custom-panel-btn:hover fa, .custom-panel-btn:hover span {
    color: #fff; }

.no-border-button {
  border: none !important;
  background: transparent !important; }
  .no-border-button fa, .no-border-button span {
    font-size: 1.1rem;
    color: #5dbeb6;
    transition: all .5s ease; }

.no-border-button.dark fa, .no-border-button.dark span {
  color: #004360; }

.no-border-button.secondary fa, .no-border-button.secondary span {
  color: #848b76; }

.no-border-button:hover {
  opacity: .8; }

.no-border-button.md fa, .no-border-button.md span {
  font-size: 1.3rem; }

.camera-content {
  position: fixed !important;
  top: 0 !important;
  min-width: 100% !important;
  min-height: 100% !important;
  width: auto;
  height: auto !important;
  background-color: #aaa;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important; }
  .camera-content .video-camera {
    position: absolute;
    width: auto;
    height: 100%; }
    @media only screen and (min-width: 476px) {
      .camera-content .video-camera {
        width: 100%;
        height: auto; } }

.p-border-none {
  border: none !important; }

.personal-float-form {
  position: absolute !important;
  left: 0;
  bottom: 0;
  z-index: 2; }

.p-dark-text-color {
  color: #004360; }

.p-primary-text-color {
  color: #848b76 !important; }

input[type=text], input[type=password], input[type=email], textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0; }

.p-notif-container {
  position: fixed;
  z-index: 10000000001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  max-width: 400px;
  opacity: 0;
  transition: opacity .4s; }
  .p-notif-container .p-notification {
    position: relative;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0s .4s, transform .7s ease; }
  .p-notif-container .p-notification.on {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0s .3s, transform .5s ease; }

.p-notif-container.active {
  opacity: 1;
  transition: opacity .2s; }

.news-number {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  color: #fff;
  font-size: .6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004360; }

.news-main {
  position: fixed;
  right: unset;
  top: unset;
  z-index: 10000000;
  right: 3.2rem;
  bottom: 3.1rem;
  background: #5dbeb6; }

/*# sourceMappingURL=styles.css.map */
