<div class="personal-content relative-background min-height-full-modal max-height-full-modal p-overflow-hidden light-background {{ loadingClass }} col-12 p-0"
  id="newPubContainer">
  <div class="loading-content {{ activeClass }}"></div>
  <a href="#" class="no-border-button {{ transmitStyle }} p-float-btn top-right-corner mt-2 mr-2" (click)="initStreaming($event)">
    <span class="personal-site-icon">f</span>
  </a>
  <edit-queja [submit]="actionType" [isStreamPub]="initStream" (afterSubmit)="onSubmitForm($event)"></edit-queja>

  <material-btn-list [showClass]="showClass" [animateNext]="nextButton" [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>
</div>