<div class="personal-content relative-background min-height-full-modal max-height-full-modal p-overflow-hidden relative-background col-12 p-0"
  id="newPubContainer">

  <div class="personal-carousel" id="normalPub">
    <a href="#" class="no-border-button secondary p-float-btn top-right-corner mt-2 mr-2" (click)="initStreaming($event)">
      <span class="personal-site-icon {{ transmitStyle }}">f</span>
    </a>
    <edit-queja [submit]="actionType" [isStreamPub]="initStream" (closeModal)="close($event)"></edit-queja>
  </div>

  <div class="personal-carousel next" id="streamingPub">
    <media-streaming [openStream]="openStream" [pubStream]="actionType" (closeModal)="close($event)"></media-streaming>
  </div>

  <material-btn-list *ngIf="openStream === false" [animateNext]="initStream" [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>
</div>