<div class="personal-content relative-background min-height-full-modal max-height-full-modal p-overflow-hidden relative-background col-12 p-0"
  id="newPubContainer">
  <div id="loading-content"></div>
  <div class="personal-carousel" id="normalPub">
    <a href="#" class="no-border-button secondary p-float-btn top-right-corner mt-2 mr-2" (click)="initStreaming($event)">
      <span class="personal-site-icon {{ transmitStyle }}">f</span>
    </a>
    <edit-queja [submit]="actionType" [isStreamPub]="initStream" (afterSubmit)="onSubmitForm($event)"></edit-queja>
  </div>

  <div class="personal-carousel next" id="streamingPub">
    <media-streaming [startCamera]="startCamera" [initTrans]="actionType" [pubId]="newPubId" (closeModal)="getButtonAction($event)"></media-streaming>
  </div>

  <material-btn-list [showClass]="showClass" [animateNext]="nextButton" [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>
</div>