<app-init *ngIf="firstInstall"></app-init>

<!--RESPONSIVE LAYOUT-->
<div id="reponsive-layout"></div>
<!--*****************-->

<ng-container *ngIf="!firstInstall">
    <app-prompt *ngIf="askForUpdates" (letsUpdate)="triggerUpdate($event)"></app-prompt>

    <!--app-portada></app-portada-->
    <content-layer></content-layer>
    <router-outlet></router-outlet>
    <app-main-nav></app-main-nav>

    <!-- EVERY COMPONENT TEMPLATE IN THE ENTIRE APP MUST HAVE NEXT SECTION TO ADD ALERT MESSAGES DINAMICALLY -->
    <div #alert_parent></div>
    <!---->
</ng-container>