<section class="personal-content personal-fadeout w-100 py-0 d-flex flex-column justify-content-start align-items-center"
    id="mapContainer">
    <br />
    <div class="filter-map" *ngIf="mostrarp1 == true">
        <div class="ml-3 col-12 form-group row pb-0">
            <div class="col-6">
                <app-select2-bootstrap [fcName]="'canton'" [select2Data]="ciudadesSelected" (select2Change)="getCantonSelect($event)"></app-select2-bootstrap>
            </div>

            <div class="col-6">
                <app-select2-bootstrap [fcName]="'parroquia'" [select2Data]="parroquias" (select2Change)="getParishSelect($event)"></app-select2-bootstrap>
            </div>
        </div>
    </div>

    <div class="filter-map" *ngIf="mostrarp2 == true">
        <div class="ml-3 col-12 form-group row pb-0">
            <div class="col-6" style="color:black">Fecha Inicio :</div>
            <div class="col-6">
                <input type="date" name="bday" min="1000-01-01" max="3000-12-31" #fechaitext="ngModel" [(ngModel)]="fechai">
            </div>
            <div class="col-6" style="color:black">Fecha Fin :</div>
            <div class="col-6">
                <input type="date" name="bday" min="1000-01-01" max="3000-12-31" #fechaftext="ngModel" [(ngModel)]="fechaf">
            </div>
            <br>
            <button type="button" style="width: 100% !important;" class="btn btn-primary mb-2" (click)="validarFecha('function1')">buscar</button>

        </div>
    </div>

    <div class="p-pub-media " role="listbox">
        <a href="#" (click)="animation($event)" class="p-index-2 custom-btn custom-btn-normal p-transparent-btn xs p-float-btn top-left-corner">
            <fa name="search" class="p-transition {{ rotateClass }}"></fa>
        </a>
        <div class="actions-edit-queja absolute-layer top-left-corner d-flex flex-column justify-content-between align-items-center {{ showClass }}">
            <div>
                <a href="#" class="p-transparent-btn op-media xs" (click)="newPanel1($event)">
                    <fa name="map-marker"></fa>
                </a>
                <a href="#" class="p-transparent-btn op-media xs" (click)="newPanel2($event)">
                    <fa name="calendar"></fa>
                </a>
            </div>
        </div>
    </div>

    <div #gmap id="mapa" class="p-home-full-height"></div>
</section>