<section class="personal-content personal-fadeout min-height-full-modal max-height-full-modal p-overflow-auto py-4 d-flex flex-column justify-content-between align-items-center"
  id="offlineContent">
  <div class="p-install-label p-normal-text-color pb-5 px-4 text-center">
    Necesita estar conectado a Internet para tener acceso a <span>Lukask</span>, verifique su conexión e intente de
    nuevo
  </div>

  <div class="p-unavaliable f-child-no-shrink d-flex justify-content-center align-items-center">
    <img [src]="img" width="100%">
  </div>

  <a href="#" class="second-font p-outline-btn upper btn btn-lg btn-outline-info mt-5" (click)="goToHome($event)">Inicio</a>
</section>