<div class="personal-content relative-background personal-fadeout min-height-full-modal max-height-full p-overflow-hidden light-background {{ loadingClass }} container d-flex flex-column justify-content-center align-items-center w-100"
  id="loginContainer">

  <form #frmLogin="ngForm" class="f-child-full-space col-12 col-sm-7 col-md-6 py-2 d-flex flex-column justify-content-center align-items-center"
    id="frmL" (ngSubmit)="onLogin()">
    <div class="loading-content {{ activeClass }}"></div>

    <div class="form-group row pb-1" [ngClass]="{ 'has-danger': !user_name.valid && user_name.touched }">
      <label for="user_name" class="col-3 col-form-label">Usuario:</label>
      <div class="col-9">
        <input type="email" id="user_name" name="user_name" #user_name="ngModel" [(ngModel)]="user.username" class="form-control form-control-danger"
          required>
        <small *ngIf="!user_name.valid && user_name.touched" class="form-control-feedback">Ingrese su nombre de usuario</small>
      </div>
    </div>

    <div class="form-group row pb-1" [ngClass]="{ 'has-danger': !pass.valid && pass.touched }">
      <label for="pass" class="col-3 col-form-label">Clave:</label>
      <div class="col-9">
        <input type="password" id="pass" name="pass" #pass="ngModel" [(ngModel)]="user.password" class="form-control form-control-danger"
          required>
        <small *ngIf="!pass.valid && pass.touched" class="form-control-feedback">Ingrese su clave</small>
      </div>
    </div>

    <div class="row">
      <div class="col-12 offset-sm-3 col-sm-9 d-flex justify-content-center align-items-center">
        <button type="submit" class="primary-font btn btn-outline-info" [disabled]="!frmLogin.form.valid">Ingresar</button>
        <button type="reset" id="resetBtn" class="primary-font btn btn-outline-secondary ml-1">Limpiar</button>
      </div>
    </div>
  </form>

  <div class="fixed-layer p-bottom-layer w-100 d-flex justify-content-center align-items-center py-2">
    <small class="col-12 text-center">
      Aún no formas parte de
      <b>Lukask</b>? &nbsp;
      <a href="#" (click)="openLayer($event, contentTypes.register_profile)" class="p-normal-text-color">
        Regístrate
      </a>
    </small>
  </div>
</div>