<div class="personal-content personal-over-unset min-height-full max-height-full col-12 p-0" id="personal-payments-q">
  <div class="personal-content min-height-full max-height-full p-overflow-auto">

      <form #formPagosCard class="min-height-full card pb-3" id="frmP" (ngSubmit)="envioPagosTarjeta()">
      <div id="loading-content"></div>

      <div class="card-header d-flex justify-content-between align-items-center">
        CANCELAR SU SERVICIO
      </div>
      <div class="card-img-top d-flex flex-wrap justify-content-center align-items-center">
          <img class="mb-1" id="icon" src="{{pagos.icon}}" width="100%">
      </div>
      <ul class="list-group list-group-flush pb-0">
        <li class="list-group-item pb-0">
          <div class="col-12 pb-0">Email: 
            <input type="text" name="email" #name="ngModel" [(ngModel)]="card.email" class="form-control pb-0" required/>
          </div>
        </li>
        
        <li class="list-group-item pb-0">
          <div class="col-12 pb-0">Número :
            <input type="text" name="numero" #name="ngModel" [(ngModel)]="card.numero" class="form-control pb-0 " required/>
          </div>
        </li>

        <li class="list-group-item pb-0">
          <div class="col-12 pb-0">Mes de Expiración :</div>
          <div class="col-12 pb-0">
            <input type="text" name="mes" #name="ngModel" [(ngModel)]="card.mes" class="form-control pb-0 " required />
          </div>

        </li>

        <li class="list-group-item pb-0">
          <div class="col-12 pb-0">Año de Expiración:
            <input type="text" name="anio" #name="ngModel" [(ngModel)]="card.anio" class="form-control pb-0 " required/>
          </div>
        </li>

        <li class="list-group-item pb-0">
          <div class="col-12 pb-0">CVV2:
            <input type="text" name="cvv2" #name="ngModel" [(ngModel)]="card.cvv" class="form-control pb-0" required/>
          </div>
        </li>
        
      </ul>

    </form>

  </div>
</div>



<material-btn-list [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>
