<div class="personal-content relative-background min-height-full-modal max-height-full-modal p-overflow-hidden light-background {{ loadingClass }} relative-background col-12 p-0">
    <div class="loading-content-pop {{ activeClass }}"></div>
  
    <div class="card pb-3">
      <div class="card-header d-flex justify-content-between align-items-center">
        <fa name="user" class="mr-1"> </fa>
        <div class="ml-2 f-child-no-auto">Datos Reclamo EERSA</div>
  
      </div>
      
      <div class="card-img-top d-flex justify-content-center align-items-center">
        <img class="mb-1" id="imagen" src="../../../assets/images/eersa/logoeersa1.jpg" >
      </div>
  
      <ul class="list-group list-group-flush pb-0">
        <li style="border: none" class="list-group-item d-flex justify-content-between align-items-start">
          <fa name="user" class="mr-1"></fa>
          <input  type="text" name="direccion" 
          class="ml-2 f-child-no-auto form-control" 
          placeholder="Dirección" required />
        </li>
  
        <li class="p-border-trans list-group-item d-flex justify-content-between align-items-center pb-0">
            <fa name="map-marker" class="mr-1"></fa>
      
            <div class="f-child-no-auto ml-2 form-group row pb-1">
              <div class="col-12">
                <app-select2-bootstrap [fcName]="'claim'" 
                [select2Data]="claimSelect" 
                >
              </app-select2-bootstrap>
              </div>
            </div>
          </li>

        <li class="p-border-trans list-group-item d-flex justify-content-between align-items-center pb-0">
            <fa name="map-marker" class="mr-1"></fa>
      
            <div class="f-child-no-auto ml-2 form-group row pb-1">
              <div class="col-12">
                <app-select2-bootstrap [fcName]="'province'" [select2Data]="provinceSelect" (select2Change)="getProvinciaSelect($event)"></app-select2-bootstrap>
              </div>
            </div>
          </li>
      
          <li class="p-border-trans list-group-item d-flex justify-content-between align-items-center pb-0">
            <fa name="map-marker" class="mr-1"></fa>
      
            <div class="f-child-no-auto ml-2 form-group row pb-1">
              <div class="col-12">
                <app-select2-bootstrap [fcName]="'canton'" [select2Data]="cantonSelect" (select2Change)="getCantonSelect($event)"></app-select2-bootstrap>
              </div>
            </div>
          </li>
      
          <li class="p-border-trans list-group-item d-flex justify-content-between align-items-center pb-0">
            <fa name="map-marker" class="mr-1"></fa>
      
            <div class="f-child-no-auto ml-2 form-group row pb-1">
              <div class="col-12">
                <app-select2-bootstrap [fcName]="'parroquia'" [select2Data]="parroquiaSelect" (select2Change)="getParroquiaSelect($event)"></app-select2-bootstrap>
              </div>
            </div>
          </li>
  
      </ul>
    </div>
  
  </div>
  
  <material-btn-list [showClass]="showClass" [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>
  