<div class="personal-fadeout personal-intro-slider p-home-full-height cd-section d-flex justify-content-center" id="pagosIntro">
  <ul class="cd-hero-slider autoplay">
    <!--div class="p-slide-nav-gen">
      <a href="#" (click)="nextPrev($event, false)" class="personal-nav-prev"></a>
      <a href="#" (click)="playPause($event, false)" class="personal-play"></a>
      <a href="#" (click)="playPause($event, true)" class="personal-pause"></a>
      <a href="#" (click)="nextPrev($event, true)" class="personal-nav-next"></a>
    </div-->
    <ng-container *ngFor="let intro of payIntroList; let i = index">
      <li [ngClass]="{'selected': i == 0}" [style.background]="styles[i]">
        <div class="img-opacity"></div>
        <div class="personal-slider-cont pb-4">
          <h2 class="mb-5 second-font">{{ intro.description }}</h2>
        </div>
      </li>
    </ng-container>
  </ul>

  <div class="p-absolute-options p-trans-btn-generic btn btn-lg btn-outline-secondary second-font" (click)="openLayer($event)">Buscar mi planilla</div>
</div>