<div class="card">
    <div class="card-block pb-0">
        <comment-form [commentModel]="commentForm" (commentResponse)="onCommentResponse($event)"></comment-form>
    </div>
    <ul class="list-group list-group-flush pb-0 max-height-half p-overflow-auto">
        <li class="f-child-full-space list-group-item">
            <comment [commentModel]="mainComment" [noReplyBtn]="true"></comment>
        </li>
        <li *ngFor="let reply of replyList" class="f-child-full-space list-group-item">
            <comment [commentModel]="reply" [isReply]="true"></comment>
        </li>
    </ul>
</div>
<material-btn-list [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>