<div class="d-flex justify-content-between align-items-center">
  <div class="d-flex justify-content-between align-items-center">
    <a href="#" (click)="onRelevance($event)" class="no-border-button" [ngClass]="{
      'dark': queja.user_relevance == true,
      'secondary': queja.user_relevance == false
    }" title="Apoyo">
      <fa name="star"></fa>
    </a>
    <a *ngIf="queja.relevance_counter > 0" href="#" (click)="viewSupport($event)" class="p-dark-text-color ml-1 d-flex justify-content-between align-items-center">
      <small>{{ queja.relevance_counter }} {{ queja.relevance_counter > 1 ? 'personas apoyan esto' : 'persona apoya esto'}}</small>
    </a>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <div *ngIf="queja.isTrans" class="no-border-button ml-1 d-flex justify-content-center align-items-center">
      <a href="#" (click)="viewTransmission($event)" [ngClass]="{
        'unable': queja.isTrans && queja.transDone,
        'up-down-animation': queja.isTrans && !queja.transDone
      }" class="ml-1 no-border-button focused-btn" title="Ver transmisión">
        <span class="personal-site-icon">q</span>
      </a>
    </div>

    <a href="#" (click)="geolocatePub($event)" class="no-border-button secondary ml-1" title="Geolocalizar">
      <fa name="map-marker"></fa>
    </a>
  </div>
</div>