<ng-container *ngIf="_quejaService.pubs$ | async as pubList else loadingContainer">
  <div class="relative-background" [ngClass]="{ 'pt-1 pb-4': pubList && pubList.length > 0 }">
    <div *ngIf="pubList && pubList.length == 0" class="personal-intro-slider p-home-full-height cd-section d-flex justify-content-center"
      id="Intro">
      <ul class="cd-hero-slider autoplay">
        <div class="p-slide-nav-gen">
          <a href="#" (click)="nextPrev($event, false)" class="personal-nav-prev"></a>
          <a href="#" (click)="playPause($event, false)" class="personal-play"></a>
          <a href="#" (click)="playPause($event, true)" class="personal-pause"></a>
          <a href="#" (click)="nextPrev($event, true)" class="personal-nav-next"></a>
        </div>
        <ng-container *ngFor="let intro of introDataList; let i = index">
          <li [ngClass]="{'selected': i == 0}" [style.background]="styles[i]">
            <div class="img-opacity"></div>
            <div class="personal-slider-cont pb-4">
              <h2 class="mb-5 second-font">{{ intro.description }}</h2>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>

    <div *ngIf="pubList && pubList.length > 0">
      <app-queja *ngFor="let queja of pubList" [queja]="queja" (onCancelPub)="cancelPub($event)" (actionType)="optionButtonAction($event, queja.id_publication)"></app-queja>
    </div>

    <div id="morePubs" class="bottom-loader {{ activeClass }} col-12 d-flex justify-content-center align-items-center">
      <img src="/assets/images/forms/preloader.gif" width="60px" class="p-owl-img">
    </div>


  </div>
</ng-container>

<ng-template #loadingContainer>
  <div class="loading-content active"></div>
</ng-template>