<div class="top-panel d-flex justify-content-end align-items-center" id="id-top-panel">
  <div class="menu-focus"></div>

  <a href="#" class="opcion focused f-child-full-space text-center" id="top-option-0" (click)="focusOption($event, 'top-option-0', menuOptions.home)">
    <span class="personal-site-icon">p</span>
  </a>

  <a href="#" class="opcion f-child-full-space text-center" id="top-option-1" (click)="focusOption($event, 'top-option-1', menuOptions.mapview)">
    <fa name="map-marker"></fa>
  </a>
</div>

<div class="bot-panel d-flex justify-content-start align-items-center">
  <div class="px-3 d-flex">
    <a *ngIf="isAdmin" href="#" (click)="openLayer($event, contentTypes.new_pub)" class="ml-2 custom-panel-btn" title="Nueva publicación">
      <fa name="plus"></fa>
    </a>
    <a *ngIf="!isAdmin" href="#" (click)="openLayer($event, contentTypes.new_claim)" class="ml-2 custom-panel-btn"
      title="Nuevo reclamo">
      <fa name="bullhorn"></fa>
    </a>
    <a href="#" (click)="openLayer($event, contentTypes.view_notifs)" class="relative-background ml-2 custom-panel-btn">
      <span *ngIf="entriesNumber > 0" class="news-number">{{ entriesNumber }}</span>
      <fa name="inbox"></fa>
    </a>
    <a href="#" (click)="openLayer($event, contentTypes.edit_profile)" class="ml-2 custom-panel-btn">
      <fa name="cog"></fa>
    </a>
    <a href="#" (click)="logout($event)" class="ml-2 custom-panel-btn">
      <fa name="sign-out"></fa>
    </a>
  </div>
</div>