<div class="personal-content relative-background min-height-full-modal max-height-full-modal p-overflow-hidden light-background {{ loadingClass }} col-12 p-0 pb-1 d-flex flex-column"
  id="newClaimContainer">
  <div class="loading-content {{ activeClass }}"></div>

  <app-steps [stepsNumber]="3" [title]="'Nuevo Reclamo'" [currentStep]="currentStep"></app-steps>

  <div class="f-scroll-child p-overflow-x-hidden mt-1">
    <div class="personal-carousel" id="firstClaimStep">
      <claim-cause [aceptedTerms]="aceptedTerms" (onSelectCause)="getSelectCause($event)" (onAceptTerms)="getAceptTerms($event)"></claim-cause>
    </div>

    <div class="personal-carousel next" id="claimDetail">
      <ng-container *ngIf="currentStep >= 1 else loader1">
        <claim-detail (onEersaLocClient)="getEersaLocClient($event)"></claim-detail>
      </ng-container>

      <ng-template #loader1>
        <loader [normalLoader]="true" [fullScreen]="true"></loader>
      </ng-template>
    </div>

    <div class="personal-carousel next" id="customPub">
      <ng-container *ngIf="currentStep == 2 else loader2">
        <new-pub [eersaLocClient]="eersaLocClient" [isChildPub]="true" [reqSubmit]="reqSubmit"
          [showClass]="showClass" (streamPub)="oInitStream($event)" (closeModal)="close($event)" (validForm)="onValidForm($event)"></new-pub>
      </ng-container>

      <ng-template #loader2>
        <loader *ngIf="currentStep == 1" [normalLoader]="true" [fullScreen]="true"></loader>
      </ng-template>
    </div>

    <material-btn-list [showClass]="showClass" [materialBtns]="matButtons" (someBtnAction)="getButtonAction($event)"></material-btn-list>
  </div>
</div>